Cox.ServiceAgent.ConnectionManager/Contracts/CmRequest.dtd

<!-- ========================================== -->
<!-- File Type : DTD -->
<!-- Root Tag : ICOMS -->
<!-- Environment : CVGDEV1E -->
<!-- Direction : REQUEST -->
<!-- Produced By : GTT -->
<!-- Date : 7/26/2005 -->
<!-- Time : 10:26:16 AM -->
<!-- ========================================== -->
<!ELEMENT ICOMS (
ACSUM |
CALLDET |
CANCEL |
CCPAY |
CURBILL |
CUROUT |
CURSVC |
CURTELSVC |
CUSTSVC |
GETDELAYEDQUEUE |
GETSUSPENDEDQUEUE |
GETXMLROOT |
GWY_ABORT |
GWY_CHANGE |
GWY_GETENVS |
GWY_GETLM |
GWY_GETMACRODETAILS |
GWY_GETMACROSUMMARY |
GWY_GETULM |
GWY_SET_TRACE |
GWY_SHUTDOWN |
GWY_STATS |
GWY_TRACE_SWITCH |
INIT |
MAC00001 |
MAC00002 |
MAC00003 |
MAC00004 |
MAC00005 |
MAC00006 |
MAC00007 |
MAC00008 |
MAC00009 |
MAC00010 |
MAC00011 |
MAC00012 |
MAC00013 |
MAC00014 |
MAC00017 |
MAC00020 |
MAC00021 |
MAC00022 |
MAC00023 |
MAC00024 |
MAC00025 |
MAC00026 |
MAC00027 |
MAC00028 |
MAC00029 |
MAC00030 |
MAC00032 |
MAC00033 |
MAC00035 |
MAC00045 |
MAC00046 |
MAC00047 |
MAC00048 |
MAC00049 |
MAC00050 |
MAC00051 |
MAC00052 |
MAC00053 |
MAC00054 |
MAC00056 |
MAC00057 |
MAC00059 |
MAC00060 |
MAC00061 |
MAC00062 |
MAC00063 |
MAC00064 |
MAC00065 |
MAC00066 |
MAC00067 |
MAC00068 |
MAC00069 |
PRVBILL |
QENVSTATUS |
REGIST |
SQLINIT |
SQLINITU |
SQLTERM |
SRVAPMNT |
STOPPB |
SVCOUT |
SVCUPGD |
TERM |
WOSTAT |
WRKWTHAP
)>
<!ATTLIST ICOMS
KEY CDATA #IMPLIED
USERID CDATA #REQUIRED
PASSWORD CDATA #REQUIRED
ENVIRONMENT CDATA #REQUIRED
>
<!ELEMENT ACCNTUAP EMPTY>
<!ATTLIST ACCNTUAP
UNAPPAYMNT CDATA #IMPLIED
ADJAMNT CDATA #IMPLIED
>
<!ELEMENT ACSUM EMPTY>
<!ATTLIST ACSUM
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT BILL EMPTY>
<!ATTLIST BILL
STMNTDT CDATA #IMPLIED
CHGPYBL CDATA #IMPLIED
PRCSSCNTRL CDATA #IMPLIED
>
<!ELEMENT CALLDET EMPTY>
<!ATTLIST CALLDET
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
PRCSSCNTRL CDATA #REQUIRED
STMNTCD CDATA #REQUIRED
>
<!ELEMENT CALLS EMPTY>
<!-- No attribute list for CALLS -->
<!ELEMENT CANCEL EMPTY>
<!ATTLIST CANCEL
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
WONO CDATA #REQUIRED
CANCREASCD CDATA #REQUIRED
MISCSCRNFILD1 CDATA #IMPLIED
MISCSCRNCNTRL CDATA #IMPLIED
>
<!ELEMENT CATVCSV EMPTY>
<!-- No attribute list for CATVCSV -->
<!ELEMENT CATVCURSVC EMPTY>
<!-- No attribute list for CATVCURSVC -->
<!ELEMENT CCPAY (CCR+)>
<!ATTLIST CCPAY
TASKCODE CDATA #IMPLIED
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT CCPAYEMAIL EMPTY>
<!ATTLIST CCPAYEMAIL
DUMMYPARM CDATA #IMPLIED
>
<!ELEMENT CCR EMPTY>
<!ATTLIST CCR
CSHADJBTCHKY CDATA #IMPLIED
WRKSTTNID CDATA #REQUIRED
STMNTCD CDATA #REQUIRED
AMNTAPPLY CDATA #REQUIRED
AMNTTNDRD CDATA #REQUIRED
CHKNO CDATA #IMPLIED
MOPCD CDATA #REQUIRED
SEL1 CDATA #IMPLIED
SEL2 CDATA #IMPLIED
SEL3 CDATA #IMPLIED
MOPACCOUNT CDATA #REQUIRED
CIDVALU CDATA #IMPLIED
MOPTITLE CDATA #REQUIRED
MOPEXPIRY CDATA #REQUIRED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
FUNCOPT1 CDATA #IMPLIED
FUNCOPT2 CDATA #IMPLIED
FUNCACT CDATA #IMPLIED
APP CDATA #IMPLIED
EXTRNLRFRNC CDATA #IMPLIED
EXTRNLENVRNMNT CDATA #IMPLIED
>
<!ELEMENT CURBILL EMPTY>
<!ATTLIST CURBILL
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
STMNTCD CDATA #REQUIRED
PRCSSCNTRL CDATA #IMPLIED
>
<!ELEMENT CUROUT (OUTLET*)>
<!ATTLIST CUROUT
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT CURSVC (CATVCURSVC*,TELEPHONYCURSVC*,DATACURSVC*)>
<!ATTLIST CURSVC
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
OUTLETNUM CDATA #REQUIRED
SERVCATGY CDATA #IMPLIED
>
<!ELEMENT CURTELSVC (TELEPHONYCURTELSVC*)>
<!ATTLIST CURTELSVC
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
PHONENO CDATA #REQUIRED
>
<!ELEMENT CUSTSVC (TOTLMNTHLY*,CATVCSV*,TELEPHONYCSV*,HSDCSV*)>
<!ATTLIST CUSTSVC
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT DATACURSVC EMPTY>
<!-- No attribute list for DATACURSVC -->
<!ELEMENT GETDELAYEDQUEUE (GQSD*)>
<!-- No attribute list for GETDELAYEDQUEUE -->
<!ELEMENT GETSUSPENDEDQUEUE (GQSS*)>
<!-- No attribute list for GETSUSPENDEDQUEUE -->
<!ELEMENT GETXMLROOT EMPTY>
<!-- No attribute list for GETXMLROOT -->
<!ELEMENT GLRET EMPTY>
<!-- No attribute list for GLRET -->
<!ELEMENT GQSD EMPTY>
<!-- No attribute list for GQSD -->
<!ELEMENT GQSS EMPTY>
<!-- No attribute list for GQSS -->
<!ELEMENT GWY_ABORT EMPTY>
<!-- No attribute list for GWY_ABORT -->
<!ELEMENT GWY_CHANGE EMPTY>
<!ATTLIST GWY_CHANGE
VAR CDATA #REQUIRED
VAL CDATA #REQUIRED
ENV CDATA #IMPLIED
>
<!ELEMENT GWY_GETENVS EMPTY>
<!-- No attribute list for GWY_GETENVS -->
<!ELEMENT GWY_GETLM (GLRET*)>
<!ATTLIST GWY_GETLM
ENV CDATA #IMPLIED
>
<!ELEMENT GWY_GETMACRODETAILS (MDRET*)>
<!ATTLIST GWY_GETMACRODETAILS
ENV CDATA #IMPLIED
DAY CDATA #IMPLIED
>
<!ELEMENT GWY_GETMACROSUMMARY (MSRET*)>
<!ATTLIST GWY_GETMACROSUMMARY
ENV CDATA #IMPLIED
DAY CDATA #IMPLIED
>
<!ELEMENT GWY_GETULM (GLRET*)>
<!ATTLIST GWY_GETULM
ENV CDATA #IMPLIED
>
<!ELEMENT GWY_SET_TRACE EMPTY>
<!ATTLIST GWY_SET_TRACE
VAR CDATA #REQUIRED
VAL CDATA #REQUIRED
>
<!ELEMENT GWY_SHUTDOWN EMPTY>
<!-- No attribute list for GWY_SHUTDOWN -->
<!ELEMENT GWY_STATS EMPTY>
<!ATTLIST GWY_STATS
VAR CDATA #REQUIRED
ENV CDATA #IMPLIED
>
<!ELEMENT GWY_TRACE_SWITCH EMPTY>
<!-- No attribute list for GWY_TRACE_SWITCH -->
<!ELEMENT HSDCSV EMPTY>
<!-- No attribute list for HSDCSV -->
<!ELEMENT INIT EMPTY>
<!-- No attribute list for INIT -->
<!ELEMENT INL00001 EMPTY>
<!-- No attribute list for INL00001 -->
<!ELEMENT INL00002 EMPTY>
<!-- No attribute list for INL00002 -->
<!ELEMENT INL00003 EMPTY>
<!-- No attribute list for INL00003 -->
<!ELEMENT INL00004 EMPTY>
<!-- No attribute list for INL00004 -->
<!ELEMENT INL00005 EMPTY>
<!-- No attribute list for INL00005 -->
<!ELEMENT INL00006 EMPTY>
<!-- No attribute list for INL00006 -->
<!ELEMENT INL00007 EMPTY>
<!-- No attribute list for INL00007 -->
<!ELEMENT INL00008 EMPTY>
<!ATTLIST INL00008
SITEID CDATA #REQUIRED
PRCSCNTRLHEDR CDATA #IMPLIED
ACNTNMBR CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
AUDTCNTRLDATE8 CDATA #IMPLIED
AUDTCNTRLNMBR CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
TRNSCTNSQNCNMBR CDATA #IMPLIED
TRNSCTNTYPE CDATA #IMPLIED
SRVCCTGRY CDATA #IMPLIED
TRNSCTNFROMDATE8 CDATA #IMPLIED
TRNSCTNTODATE8 CDATA #IMPLIED
DETLDSCRPTN CDATA #IMPLIED
TRNSCTNAMNT CDATA #IMPLIED
TAXAMNT CDATA #IMPLIED
TRNSFRTAXAMNT CDATA #IMPLIED
>
<!ELEMENT INL00009 EMPTY>
<!ATTLIST INL00009
SITEID CDATA #REQUIRED
PRCSCNTRLHEDR CDATA #IMPLIED
BILLCYCL CDATA #IMPLIED
ACNTNMBR CDATA #REQUIRED
OCRNC CDATA #REQUIRED
BILLTOACNT CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
TRBRATDCC CDATA #IMPLIED
TRBRATDYY CDATA #IMPLIED
TRBRATDMM CDATA #IMPLIED
TRBRATDDD CDATA #IMPLIED
TRBRATDCT CDATA #IMPLIED
TRBRATDCS CDATA #IMPLIED
TRBRUNDATE8 CDATA #IMPLIED
TRBRUNTIME CDATA #IMPLIED
TRBSQNCNMBR CDATA #IMPLIED
UTLTEXT2 CDATA #IMPLIED
FROMTLPHNNMBR CDATA #IMPLIED
FROMPLAC CDATA #IMPLIED
FROMSTAT CDATA #IMPLIED
CARRID CDATA #IMPLIED
CALLTYPE CDATA #IMPLIED
RCRDTYPE CDATA #IMPLIED
RATECLAS CDATA #IMPLIED
STLMNT CDATA #IMPLIED
CSTMRNOTCSTMR CDATA #IMPLIED
TOTLPHNNMBR CDATA #IMPLIED
TOPLAC CDATA #IMPLIED
TOSTAT CDATA #IMPLIED
TRBRATDMNTS CDATA #IMPLIED
TRBRATDSCNDS CDATA #IMPLIED
UTLENGLNDAMNT CDATA #IMPLIED
RATEPERD CDATA #IMPLIED
>
<!ELEMENT INL00010 EMPTY>
<!-- No attribute list for INL00010 -->
<!ELEMENT INL00011 EMPTY>
<!ATTLIST INL00011
SRVCCODE CDATA #REQUIRED
QNTY CDATA #IMPLIED
INSTLPNTS CDATA #IMPLIED
INSTLAMNT CDATA #IMPLIED
SPRDNMBROFMNTHS CDATA #IMPLIED
INSTLPNTSCNTRL CDATA #IMPLIED
INSTLAMNTCNTRL CDATA #IMPLIED
SPRDCNTRL CDATA #IMPLIED
>
<!ELEMENT INL00013 EMPTY>
<!ATTLIST INL00013
CPEIDNTFR CDATA #IMPLIED
CPEEXTRNLKEY CDATA #IMPLIED
CPEDSCRPTN CDATA #IMPLIED
DNSNAME CDATA #IMPLIED
QSTNRCODE CDATA #IMPLIED
MODMSQNCNMBR CDATA #IMPLIED
MODMEXTRNLKEY CDATA #IMPLIED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #IMPLIED
PORTNMBR CDATA #IMPLIED
SAMEPLCHLDR CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00014 EMPTY>
<!ATTLIST INL00014
QSTNRCODE CDATA #REQUIRED
QSTNCODE CDATA #IMPLIED
ANSWRCHAR1 CDATA #IMPLIED
ANSWRTEXT CDATA #IMPLIED
ANSWRSQNCNMBR CDATA #IMPLIED
IGIFNCTNACTN CDATA #REQUIRED
>
<!ELEMENT INL00015 EMPTY>
<!ATTLIST INL00015
DSCRPTN CDATA #REQUIRED
GRPNGCDT CDATA #REQUIRED
>
<!ELEMENT INL00016 EMPTY>
<!ATTLIST INL00016
QSTNRCODE CDATA #REQUIRED
CSTMRQLFD CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00017 EMPTY>
<!ATTLIST INL00017
EXTRNLRFRNC CDATA #IMPLIED
EXTRNLENVRNMNT CDATA #IMPLIED
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
SQNCNMBR CDATA #IMPLIED
HSDUSERLOGN CDATA #IMPLIED
HSDUSERPSWRD CDATA #IMPLIED
HSDUSERFRWRDNG CDATA #IMPLIED
HSDUSERSUBACNT CDATA #IMPLIED
SUBACNTLASTNAME CDATA #IMPLIED
HSDUSEROPTN1 CDATA #IMPLIED
HSDUSERACTN CDATA #IMPLIED
EMALALIS1SQNC CDATA #IMPLIED
EMALALIS1 CDATA #IMPLIED
EMALALIS1ACTN CDATA #IMPLIED
EMALALIS2SQNC CDATA #IMPLIED
EMALALIS2 CDATA #IMPLIED
EMALALIS2ACTN CDATA #IMPLIED
EMALALIS3SQNC CDATA #IMPLIED
EMALALIS3 CDATA #IMPLIED
EMALALIS3ACTN CDATA #IMPLIED
EMALALIS4SQNC CDATA #IMPLIED
EMALALIS4 CDATA #IMPLIED
EMALALIS4ACTN CDATA #IMPLIED
EMALALIS5SQNC CDATA #IMPLIED
EMALALIS5 CDATA #IMPLIED
EMALALIS5ACTN CDATA #IMPLIED
>
<!ELEMENT INL00018 EMPTY>
<!ATTLIST INL00018
ITEMNMBR CDATA #REQUIRED
SERLNMBR CDATA #IMPLIED
DATEINSTLD CDATA #IMPLIED
DATE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
ROOMCODE CDATA #IMPLIED
EQPMNTADRS CDATA #IMPLIED
PORTNMBR CDATA #IMPLIED
ASGNDINSTLR CDATA #IMPLIED
ASGNDINSTLRCNTRL CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNOPTN4 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
>
<!ELEMENT INL00020 EMPTY>
<!ATTLIST INL00020
SRVCOCRNC CDATA #IMPLIED
SRVCCODE CDATA #REQUIRED
IGIFNCTNACTN CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
>
<!ELEMENT INL00021 EMPTY>
<!ATTLIST INL00021
SCHDLDATE8 CDATA #REQUIRED
POOLTIMESLOT CDATA #REQUIRED
>
<!ELEMENT INL00022 EMPTY>
<!ATTLIST INL00022
SRVCOCRNC CDATA #IMPLIED
SRVCCODE CDATA #REQUIRED
IGIFNCTNACTN CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
>
<!ELEMENT INL00023 EMPTY>
<!ATTLIST INL00023
MODMSQNCNMBR CDATA #IMPLIED
MODMEXTRNLKEY CDATA #IMPLIED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #IMPLIED
PORTNMBR CDATA #IMPLIED
DNSNAME CDATA #IMPLIED
CPEIDNTFR CDATA #IMPLIED
CPEEXTRNLKEY CDATA #IMPLIED
USEEXSTNGPLCHLDR CDATA #IMPLIED
CRETPLCHLDR CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00024 EMPTY>
<!ATTLIST INL00024
SRVCOCRNC CDATA #IMPLIED
SRVCCODE CDATA #IMPLIED
LINEBASDNPASTD CDATA #IMPLIED
LINEBASDNNXEXCHNG CDATA #IMPLIED
LINEBASDTNLINENMBR CDATA #IMPLIED
TNSRVCCLAS CDATA #IMPLIED
PRMRYRATE CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00025 EMPTY>
<!ATTLIST INL00025
SRVCOCRNC CDATA #REQUIRED
CARDSQNCNMBR CDATA #IMPLIED
CARDEXTKEY CDATA #IMPLIED
HLDRNAME CDATA #IMPLIED
NEWQNTY CDATA #IMPLIED
EFCTVDATE CDATA #IMPLIED
NEWPIN CDATA #IMPLIED
NEWPINVRFY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00026 EMPTY>
<!ATTLIST INL00026
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
SRVCCODE CDATA #REQUIRED
OETOQNTY CDATA #REQUIRED
>
<!ELEMENT INL00027 EMPTY>
<!ATTLIST INL00027
SRVCCTGRYCODE CDATA #REQUIRED
SRVCCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
QNTY CDATA #IMPLIED
INSTLPNTS CDATA #IMPLIED
INSTLAMNT CDATA #IMPLIED
SPRDNMBROFMNTHS CDATA #IMPLIED
FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00028 EMPTY>
<!ATTLIST INL00028
PRMTRCHCK CDATA #IMPLIED
CNTRLCHCK CDATA #IMPLIED
MACRNAME CDATA #IMPLIED
RTRNCODE CDATA #IMPLIED
>
<!ELEMENT INL00029 EMPTY>
<!ATTLIST INL00029
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
PLANASGNMNTSRGT CDATA #IMPLIED
PLANASGNMNTEXTKEY CDATA #IMPLIED
PLANCODE CDATA #IMPLIED
PLANGROPID CDATA #IMPLIED
PLANEFCTVDATE CDATA #IMPLIED
PLANEXPRTNDATE CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00030 EMPTY>
<!ATTLIST INL00030
SRVCOCRNC CDATA #REQUIRED
SRVCCODE CDATA #REQUIRED
SRVCQNTY CDATA #IMPLIED
SRVCRATE CDATA #IMPLIED
CSBILLDSC CDATA #IMPLIED
FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00031 EMPTY>
<!-- No attribute list for INL00031 -->
<!ELEMENT INL00032 EMPTY>
<!ATTLIST INL00032
SRVCOCRNC CDATA #REQUIRED
FNCTNACTN CDATA #IMPLIED
SPCLCRCTID CDATA #REQUIRED
SPCLCRCTDSCRPTN CDATA #IMPLIED
MASKTMPLT CDATA #IMPLIED
MASKTMPLTCNTRL CDATA #IMPLIED
>
<!ELEMENT INL00033 EMPTY>
<!ATTLIST INL00033
SRVCOCRNC CDATA #IMPLIED
SRVCCODE CDATA #IMPLIED
PRMRYRATE CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00034 EMPTY>
<!ATTLIST INL00034
SRVCOCRNC CDATA #REQUIRED
CRCTSQNCNMBR CDATA #IMPLIED
SPCLCRCTLCTN CDATA #IMPLIED
CNTRCTNMBR CDATA #IMPLIED
CNTRCTBEGNDATE CDATA #IMPLIED
CNTRCTENDDATE CDATA #IMPLIED
PRCHSORDRNMBR CDATA #IMPLIED
FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00035 EMPTY>
<!ATTLIST INL00035
DSCRPTN CDATA #REQUIRED
GRPNGCDT CDATA #REQUIRED
>
<!ELEMENT INL00036 EMPTY>
<!-- No attribute list for INL00036 -->
<!ELEMENT INL00037 EMPTY>
<!-- No attribute list for INL00037 -->
<!ELEMENT INL00038 EMPTY>
<!ATTLIST INL00038
SRVCOCRNC CDATA #REQUIRED
CSTMRNAME CDATA #REQUIRED
RINGCDNC CDATA #REQUIRED
LSTNGNMBR CDATA #IMPLIED
FNCTNACTN CDATA #REQUIRED
NPASTDNMBR CDATA #IMPLIED
NNXEXCHNG CDATA #IMPLIED
THSNDNMBR CDATA #IMPLIED
TOLLCARRID CDATA #IMPLIED
NATVORPRTD CDATA #IMPLIED
>
<!ELEMENT INL00039 EMPTY>
<!ATTLIST INL00039
SRVCOCRNC CDATA #REQUIRED
NEWPIC CDATA #REQUIRED
FREEZEPIC CDATA #REQUIRED
PICCHNGRESN CDATA #REQUIRED
PICRQSTR CDATA #IMPLIED
NEWLPIC CDATA #REQUIRED
FREEZELPIC CDATA #REQUIRED
LPICCHNGRESN CDATA #REQUIRED
LPICRQSTR CDATA #IMPLIED
LECFREEZE CDATA #REQUIRED
>
<!ELEMENT INL00040 EMPTY>
<!ATTLIST INL00040
SRVCOCRNC CDATA #IMPLIED
SRVCCODE CDATA #IMPLIED
TNSRVCCLAS CDATA #IMPLIED
NONPBLSHDCODE CDATA #IMPLIED
PRMRYRATE CDATA #IMPLIED
TNSQNCNMBR CDATA #IMPLIED
TNEXTKEY CDATA #IMPLIED
DIRSQNCNMBR CDATA #IMPLIED
DIREXTKEY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00041 EMPTY>
<!ATTLIST INL00041
SRVCOCRNC CDATA #REQUIRED
TNSQNCNMBR CDATA #IMPLIED
TNEXTKEY CDATA #IMPLIED
DIRSQNCNMBR CDATA #IMPLIED
DIREXTKEY CDATA #IMPLIED
LSTNGTYPECODE CDATA #IMPLIED
CLASOFSRVC CDATA #IMPLIED
LISTTYPE CDATA #IMPLIED
LSTNGINSTRCTNS CDATA #IMPLIED
LSTNGIDCODE CDATA #IMPLIED
TITLE CDATA #IMPLIED
FRSTNAME CDATA #IMPLIED
LASTNAME CDATA #IMPLIED
SPCLFLNGNAME CDATA #IMPLIED
TITLOFLING CDATA #IMPLIED
EFCTVDATE CDATA #IMPLIED
ADVNCTODRCTRY CDATA #IMPLIED
NONSLCTN CDATA #IMPLIED
ILECLSTNGCHNGD CDATA #IMPLIED
LSTNGCPTN CDATA #IMPLIED
FRGNDRCTRYNAME CDATA #IMPLIED
HOUSBLDNGNMBR CDATA #IMPLIED
LSTNGDRCTNL CDATA #IMPLIED
STRTNAME CDATA #IMPLIED
CMNTY CDATA #IMPLIED
STATE CDATA #IMPLIED
ZIPCODE CDATA #IMPLIED
ZIPCODEEXTNSN CDATA #IMPLIED
BOOKCOPSWHIT CDATA #IMPLIED
BOOKCOPSYELW CDATA #IMPLIED
BOOKCOPSBSNS CDATA #IMPLIED
LINESRVCCLAS CDATA #IMPLIED
TTYLINE CDATA #IMPLIED
DEGROFINDNT CDATA #IMPLIED
PRFSNLIND CDATA #IMPLIED
BSNSDRCTMAIL CDATA #IMPLIED
PROFDSGNTN CDATA #IMPLIED
ALPHLISTID CDATA #IMPLIED
PLCMNTOVRD CDATA #IMPLIED
LSTNGPRVCYOPTNS CDATA #IMPLIED
TLMRKTNG CDATA #IMPLIED
OMITADRSFORDA CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00042 EMPTY>
<!ATTLIST INL00042
SRVCOCRNC CDATA #REQUIRED
PRMRYADTNL CDATA #IMPLIED
TONMBROFLINS CDATA #IMPLIED
PRTY CDATA #IMPLIED
CALRIDCODE CDATA #IMPLIED
NONPBLSHD CDATA #IMPLIED
TOLLLIMT CDATA #IMPLIED
TOLLDETLTHRSHLD CDATA #IMPLIED
DISCMAJ CDATA #IMPLIED
DISCMIN CDATA #IMPLIED
CALLBLCKNG CDATA #IMPLIED
TARFCODE CDATA #IMPLIED
LINEDIR CDATA #IMPLIED
SGNLTYPE CDATA #IMPLIED
DIALTYPE CDATA #IMPLIED
CNTRCTNMBR CDATA #IMPLIED
PRNTITMZDUSAG CDATA #IMPLIED
>
<!ELEMENT INL00043 EMPTY>
<!ATTLIST INL00043
SRVCOCRNC CDATA #REQUIRED
STRCTRTYPE CDATA #IMPLIED
STRCTRATRBT CDATA #IMPLIED
UNITTYPE CDATA #IMPLIED
UNITATRBT CDATA #IMPLIED
ELVTNTYPE CDATA #IMPLIED
ELVTNATRBT CDATA #IMPLIED
>
<!ELEMENT INL00044 EMPTY>
<!-- No attribute list for INL00044 -->
<!ELEMENT INL00045 EMPTY>
<!ATTLIST INL00045
MOPACNTSQNC CDATA #IMPLIED
MOPEXTRNLKEY CDATA #IMPLIED
WHERFROM CDATA #IMPLIED
WHERFROMCNTRL CDATA #IMPLIED
OEFNCTN CDATA #IMPLIED
OEFNCTNCNTRL CDATA #IMPLIED
OPENWORKORDR CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
CALLCNTRGROP CDATA #IMPLIED
CALLCNTRGROPCNTRL CDATA #IMPLIED
MOPACNTNMBR CDATA #IMPLIED
MOPVNDRNMBR CDATA #IMPLIED
MOPVNDRNMBRCNTRL CDATA #IMPLIED
MOPACNTTITL CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
BANKDRFTACNTTYPE CDATA #IMPLIED
PINNMBR CDATA #IMPLIED
DAYOFMNTH CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
MOPCIDVALU CDATA #IMPLIED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
IGICRETIFEXSTS CDATA #IMPLIED
IGIAUTOASGNSTMNT CDATA #IMPLIED
>
<!ELEMENT INL00046 EMPTY>
<!ATTLIST INL00046
CASHADJBTCHKEY CDATA #IMPLIED
WORKSTTNATR CDATA #IMPLIED
CASHDRWRBEGBAL CDATA #IMPLIED
BLNGMTHENDFLAG CDATA #IMPLIED
BTCHCMPLTNCODE CDATA #IMPLIED
DRWRCNTRLCHAR CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
AMNTTOAPLYUSR CDATA #IMPLIED
AMNTTNDRDUSR CDATA #IMPLIED
CHCKNMBR CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
MOPEXTRNLKEY CDATA #IMPLIED
SCRNFLD50AUSR CDATA #IMPLIED
TRNSCTNRCPTTYP CDATA #IMPLIED
TRNSCTNRCPTCNTRL CDATA #IMPLIED
CIDVALU CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00047 EMPTY>
<!ATTLIST INL00047
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTNMBR CDATA #REQUIRED
MOPVNDRNMBR CDATA #REQUIRED
MOPACNTTITL CDATA #REQUIRED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
BANKDRFTACNTTYPE CDATA #REQUIRED
CRETIFEXSTS CDATA #IMPLIED
STMNTCODE CDATA #REQUIRED
CASHADJBTCHKEY CDATA #IMPLIED
WORKSTTNATR CDATA #IMPLIED
AMNTTOAPLYUSR CDATA #REQUIRED
AMNTTNDRDUSR CDATA #REQUIRED
CHCKNMBR CDATA #IMPLIED
TRNSCTNRCPTTYP CDATA #REQUIRED
POSTWITHRCPT CDATA #IMPLIED
>
<!ELEMENT INL00048 (INL00049*)>
<!ATTLIST INL00048
FROMDATE CDATA #REQUIRED
TODATE CDATA #REQUIRED
>
<!ELEMENT INL00049 EMPTY>
<!ATTLIST INL00049
TIMESLOT CDATA #REQUIRED
>
<!ELEMENT INL00050 EMPTY>
<!ATTLIST INL00050
DATE CDATA #REQUIRED
PNTS CDATA #REQUIRED
>
<!ELEMENT INL00051 EMPTY>
<!ATTLIST INL00051
CPEIDNTFR CDATA #IMPLIED
CPEEXTRNLKEY CDATA #IMPLIED
MODMSQNCNMBR CDATA #IMPLIED
MODMEXTRNLKEY CDATA #IMPLIED
>
<!ELEMENT INL00052 EMPTY>
<!ATTLIST INL00052
BWACNTNMBR CDATA #IMPLIED
BWSTMNTCODE CDATA #IMPLIED
CALLINPRGRMID CDATA #IMPLIED
>
<!ELEMENT INL00053 EMPTY>
<!ATTLIST INL00053
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
>
<!ELEMENT INL00054 EMPTY>
<!ATTLIST INL00054
SRVCOCRNC CDATA #REQUIRED
DISCMAJRCODE CDATA #IMPLIED
DISCMINRRESN CDATA #IMPLIED
TOLLTHRSHLD CDATA #IMPLIED
TOLLLIMT CDATA #IMPLIED
DPSTAMNT CDATA #IMPLIED
CNTRCTNMBR CDATA #IMPLIED
TARFCODE CDATA #IMPLIED
>
<!ELEMENT INL00055 EMPTY>
<!ATTLIST INL00055
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00056 EMPTY>
<!ATTLIST INL00056
TRVRSLEVL CDATA #IMPLIED
SLCTSRVCCTGRY CDATA #IMPLIED
SLCTOTLTNMBR CDATA #IMPLIED
SLCTSRVCOCRNC CDATA #IMPLIED
SLCTSRVCCODE CDATA #IMPLIED
>
<!ELEMENT INL00057 EMPTY>
<!ATTLIST INL00057
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
FETRCODE CDATA #REQUIRED
FETRNMBR CDATA #REQUIRED
FETRNEWVALU CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00058 EMPTY>
<!ATTLIST INL00058
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
TNSQNCNMBR CDATA #IMPLIED
CRETNEWACNTTN CDATA #REQUIRED
CHNGHOSTTN CDATA #IMPLIED
CHNGPRTDTONONPRTD CDATA #IMPLIED
ASGNPRTDTN CDATA #IMPLIED
EXTRNLYSPCFD CDATA #IMPLIED
ASGNFROMINVNTRY CDATA #IMPLIED
SLCTLNPPRTD CDATA #IMPLIED
SLCTINPRCFPRTD CDATA #IMPLIED
NPASTD CDATA #IMPLIED
EXCHNG CDATA #IMPLIED
TNLINENMBR CDATA #IMPLIED
PRTNGUSE CDATA #IMPLIED
ILECACNTNMBR CDATA #IMPLIED
ILECCUSTACCTCODE CDATA #IMPLIED
ILECACNTTN CDATA #IMPLIED
OWNUSE CDATA #IMPLIED
PRTNGTIME CDATA #IMPLIED
BTACNTNMBR CDATA #IMPLIED
PRTNGCMNT CDATA #IMPLIED
PRVSPIC CDATA #IMPLIED
PRVSLPIC CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00059 EMPTY>
<!ATTLIST INL00059
SRVCOCRNC CDATA #REQUIRED
CARDSQNCNMBR CDATA #IMPLIED
CARDEXTKEY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #REQUIRED
IGIFNCTNOPTN2 CDATA #REQUIRED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNACTN CDATA #REQUIRED
>
<!ELEMENT INL00060 EMPTY>
<!ATTLIST INL00060
SRVCOCRNC CDATA #REQUIRED
TNSQNCNMBR CDATA #IMPLIED
TNEXTKEY CDATA #IMPLIED
CSTMRTNTYPE CDATA #IMPLIED
QNTYTOADD CDATA #IMPLIED
SLCTEXSTNGTN CDATA #IMPLIED
AUTOSLCTTN CDATA #IMPLIED
MANLSLCTTN CDATA #IMPLIED
SLCTPRTDTN CDATA #IMPLIED
SLCTEXTRNLTN CDATA #IMPLIED
NPASTD CDATA #IMPLIED
EXCHNG CDATA #IMPLIED
TNLINENMBR CDATA #IMPLIED
MINRDSCNCTRESN CDATA #IMPLIED
PRTNGUSE CDATA #IMPLIED
ILECACNTNMBR CDATA #IMPLIED
ILECCUSTACCTCODE CDATA #IMPLIED
ILECACNTTN CDATA #IMPLIED
DIREXTKEY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00061 EMPTY>
<!ATTLIST INL00061
SRVCOCRNC CDATA #REQUIRED
TNSQNCNMBR CDATA #IMPLIED
TNEXTKEY CDATA #IMPLIED
TORINGCDNC CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00062 EMPTY>
<!ATTLIST INL00062
SRVCOCRNC CDATA #REQUIRED
CARDSQNCNMBR CDATA #IMPLIED
CARDEXTKEY CDATA #IMPLIED
CRNTPIN CDATA #IMPLIED
NEWPIN CDATA #IMPLIED
NEWPINVRFY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00064 EMPTY>
<!ATTLIST INL00064
MACRMESGFROM CDATA #IMPLIED
MACRMESG1 CDATA #IMPLIED
MACRMESG2 CDATA #IMPLIED
MACRMESGTYPE CDATA #IMPLIED
>
<!ELEMENT INL00066 EMPTY>
<!ATTLIST INL00066
SRVCCTGRYCODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
HGID CDATA #IMPLIED
HGEXTRNLKEY CDATA #IMPLIED
HGDSCRPTN CDATA #IMPLIED
HGTYPEID CDATA #IMPLIED
HGSQNCID CDATA #IMPLIED
HGTLPHNNMBR CDATA #IMPLIED
HGLACNTNMBR CDATA #IMPLIED
HGLSRVCOCRNC CDATA #IMPLIED
HGLRINGSQNC CDATA #IMPLIED
HGLTLPHNNMBR CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00067 EMPTY>
<!-- No attribute list for INL00067 -->
<!ELEMENT INL00068 EMPTY>
<!-- No attribute list for INL00068 -->
<!ELEMENT INL00069 EMPTY>
<!ATTLIST INL00069
OCRNCEXTRNLKEY CDATA #IMPLIED
WHERFROM CDATA #IMPLIED
CM CDATA #IMPLIED
ORDRENTRYFNCTN CDATA #IMPLIED
OPENWORKORDR CDATA #IMPLIED
ASGNDINSTLR CDATA #IMPLIED
ASGNDINSTLRCNTRL CDATA #IMPLIED
CIFNCTNCODE CDATA #IMPLIED
BLTNBORDMAJR CDATA #IMPLIED
BLTNBORDMINR CDATA #IMPLIED
RTRNRESNCODE CDATA #IMPLIED
RTRNRESNCODECNTRL CDATA #IMPLIED
TRNSFREQPMNT CDATA #IMPLIED
TRNSFREQPMNTCNTRL CDATA #IMPLIED
TRNSFRRTRNRESN CDATA #IMPLIED
TRNSFRRTRNCNTRL CDATA #IMPLIED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #IMPLIED
DATEINSTLD CDATA #IMPLIED
DATE CDATA #IMPLIED
ROOMCODE CDATA #IMPLIED
EQPMNTSTTSCODE CDATA #IMPLIED
EQPMNTSTTSCNTRL CDATA #IMPLIED
INSTLRNMBR CDATA #IMPLIED
INSTLRNMBRCNTRL CDATA #IMPLIED
HDND CDATA #IMPLIED
HDNDCNTRL CDATA #IMPLIED
WRNTYEXPRTNDATE CDATA #IMPLIED
WRNTYEXPRTNCNTRL CDATA #IMPLIED
INVNTRYRCPTDATE CDATA #IMPLIED
INVNTRYRCPTCNTRL CDATA #IMPLIED
CPTLZTNCODE CDATA #IMPLIED
CPTLZTNCODECNTRL CDATA #IMPLIED
CPTLZTNDATE CDATA #IMPLIED
CPTLZTNDATECNTRL CDATA #IMPLIED
QLTYASRNCCODE CDATA #IMPLIED
QLTYASRNCCCNTRL CDATA #IMPLIED
QLTYASRNCDATE CDATA #IMPLIED
QLTYASRNCDCNTRL CDATA #IMPLIED
PCKPWOOMITTAG CDATA #IMPLIED
PCKPWOOMITCNTRL CDATA #IMPLIED
PORTNMBR CDATA #IMPLIED
PORTNMBRCNTRL CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
EQPMNTADRS CDATA #IMPLIED
EQPMNTOVRDACTV CDATA #IMPLIED
EQPMNTOVRDCNTRL CDATA #IMPLIED
INTLZRQRD CDATA #IMPLIED
INTLZRQRDCNTRL CDATA #IMPLIED
TEMPENBLD CDATA #IMPLIED
TEMPENBLDCNTRL CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00071 EMPTY>
<!ATTLIST INL00071
MESGINDX CDATA #IMPLIED
MESGINDXRJCT CDATA #IMPLIED
EXTRNLRFRNC CDATA #IMPLIED
EXTRNLENVRNMNT CDATA #IMPLIED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
PRVSNGENTRYDATE CDATA #IMPLIED
PRVSNGENTRYTIME CDATA #IMPLIED
PRVSNGSQNCNBR CDATA #IMPLIED
>
<!ELEMENT INL00072 EMPTY>
<!ATTLIST INL00072
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTNMBR CDATA #REQUIRED
CIDVALU CDATA #IMPLIED
MOPACNTTITL CDATA #REQUIRED
EXPRTNDATE CDATA #REQUIRED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
CRETIFEXSTS CDATA #IMPLIED
STMNTCODE CDATA #REQUIRED
CASHADJBTCHKEY CDATA #IMPLIED
WORKSTTNATR CDATA #IMPLIED
AMNTTOAPLY CDATA #REQUIRED
AMNTTNDRD CDATA #REQUIRED
TRNSCTNRCPTTYP CDATA #REQUIRED
POSTWITHRCPT CDATA #IMPLIED
>
<!ELEMENT INL00073 EMPTY>
<!ATTLIST INL00073
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTNMBR CDATA #IMPLIED
MOPACNTTITL CDATA #IMPLIED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
DAYOFMNTH CDATA #IMPLIED
AUTOASGNSTMNT CDATA #IMPLIED
CRETIFEXSTS CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
MOPVNDRNMBR CDATA #IMPLIED
BANKDRFTACNTTYPE CDATA #IMPLIED
PINNMBR CDATA #IMPLIED
>
<!ELEMENT INL00074 EMPTY>
<!ATTLIST INL00074
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTNMBR CDATA #IMPLIED
MOPVNDRNMBR CDATA #IMPLIED
MOPACNTTITL CDATA #IMPLIED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
BANKDRFTACNTTYPE CDATA #IMPLIED
DAYOFMNTH CDATA #IMPLIED
AUTOASGNSTMNT CDATA #IMPLIED
CRETIFEXSTS CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
PINNMBR CDATA #IMPLIED
>
<!ELEMENT INL00075 EMPTY>
<!ATTLIST INL00075
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTNMBR CDATA #REQUIRED
MOPVNDRNMBR CDATA #REQUIRED
MOPACNTTITL CDATA #REQUIRED
MOPRCPTTYPE CDATA #IMPLIED
MOPRCPTTYPECNTRL CDATA #IMPLIED
BANKDRFTACNTTYPE CDATA #REQUIRED
CRETIFEXSTS CDATA #IMPLIED
STMNTCODE CDATA #REQUIRED
CASHADJBTCHKEY CDATA #IMPLIED
WORKSTTNATR CDATA #IMPLIED
AMNTTOAPLY CDATA #REQUIRED
AMNTTNDRD CDATA #REQUIRED
CHCKNMBR CDATA #IMPLIED
TRNSCTNRCPTTYP CDATA #REQUIRED
POSTWITHRCPT CDATA #IMPLIED
EXTRNLRFRNC CDATA #IMPLIED
EXTRNLENVRNMNT CDATA #IMPLIED
>
<!ELEMENT INL00076 EMPTY>
<!ATTLIST INL00076
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTSQNC CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
>
<!ELEMENT INL00077 EMPTY>
<!ATTLIST INL00077
TRVRSLEVL CDATA #IMPLIED
CHCKSRVCLCTNOPTN CDATA #IMPLIED
>
<!ELEMENT INL00080 EMPTY>
<!ATTLIST INL00080
SITEID CDATA #REQUIRED
PRCSSCNTRL CDATA #REQUIRED
EMAILMESSAGEINDEX CDATA #REQUIRED
NTFCTNLSTNR CDATA #REQUIRED
MACRENVRNMNT CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
SRVCPERDFROMDATE CDATA #IMPLIED
SRVCPERDTODATE CDATA #IMPLIED
CMPNY CDATA #IMPLIED
DVSN CDATA #IMPLIED
FRNCHS CDATA #IMPLIED
TOTLSTMNTAMNT CDATA #IMPLIED
STMNTDATE CDATA #IMPLIED
NTFCTNBTCHNMBR CDATA #IMPLIED
NTFCTNRCRDNMBR CDATA #IMPLIED
EXTRNLRFRNC CDATA #IMPLIED
EXTRNLENVRNMNT CDATA #IMPLIED
STMNTATRBTDSCRPTN CDATA #IMPLIED
>
<!ELEMENT INL00081 EMPTY>
<!-- No attribute list for INL00081 -->
<!ELEMENT INL00082 EMPTY>
<!-- No attribute list for INL00082 -->
<!ELEMENT INL00083 EMPTY>
<!-- No attribute list for INL00083 -->
<!ELEMENT INL00084 EMPTY>
<!-- No attribute list for INL00084 -->
<!ELEMENT INL00085 EMPTY>
<!-- No attribute list for INL00085 -->
<!ELEMENT INL00086 EMPTY>
<!-- No attribute list for INL00086 -->
<!ELEMENT INL00087 EMPTY>
<!ATTLIST INL00087
STMNTCODE CDATA #REQUIRED
ADRSTYPE CDATA #REQUIRED
CSTMRNAME CDATA #IMPLIED
CSTMRBSNSNAME CDATA #IMPLIED
INCAREOFNAME CDATA #IMPLIED
HOMEAREACODE CDATA #IMPLIED
HOMEEXCHNGNMBR CDATA #IMPLIED
HOMEPHONNMBR CDATA #IMPLIED
BSNSAREACODE CDATA #IMPLIED
BSNSEXCHNGNMBR CDATA #IMPLIED
BSNSTLPHNNMBR CDATA #IMPLIED
FAXAREACODE CDATA #IMPLIED
FAXEXCHNGNMBR CDATA #IMPLIED
FAXTLPHNNMBR CDATA #IMPLIED
EMALADRS CDATA #IMPLIED
ADTNLLCTN CDATA #IMPLIED
LCTN CDATA #IMPLIED
FRCTN CDATA #IMPLIED
PREDRCTNL CDATA #IMPLIED
STRT CDATA #IMPLIED
POSTDRCTNL CDATA #IMPLIED
CMPLX CDATA #IMPLIED
BLDNG CDATA #IMPLIED
APRTMNT CDATA #IMPLIED
ALTRNTSTAT CDATA #IMPLIED
CITY CDATA #IMPLIED
STAT CDATA #IMPLIED
ZIP5 CDATA #IMPLIED
ZIP4 CDATA #IMPLIED
ZIP2 CDATA #IMPLIED
NONUSZIP CDATA #IMPLIED
CARRROUT CDATA #IMPLIED
FRGNADRSFLAG CDATA #IMPLIED
ALTRNTADRSFLAG CDATA #IMPLIED
LINE1 CDATA #IMPLIED
LINE2 CDATA #IMPLIED
LINE3 CDATA #IMPLIED
LINE4 CDATA #IMPLIED
>
<!ELEMENT INL00088 EMPTY>
<!ATTLIST INL00088
STMNTCODE CDATA #REQUIRED
SQNCNMBR CDATA #REQUIRED
ADRSTYPE CDATA #REQUIRED
CSTMRNAME CDATA #IMPLIED
CSTMRBSNSNAME CDATA #IMPLIED
INCAREOFNAME CDATA #IMPLIED
HOMEAREACODE CDATA #IMPLIED
HOMEEXCHNGNMBR CDATA #IMPLIED
HOMEPHONNMBR CDATA #IMPLIED
BSNSAREACODE CDATA #IMPLIED
BSNSEXCHNGNMBR CDATA #IMPLIED
BSNSTLPHNNMBR CDATA #IMPLIED
FAXAREACODE CDATA #IMPLIED
FAXEXCHNGNMBR CDATA #IMPLIED
FAXTLPHNNMBR CDATA #IMPLIED
EMALADRS CDATA #IMPLIED
ADTNLLCTN CDATA #IMPLIED
LCTN CDATA #IMPLIED
FRCTN CDATA #IMPLIED
PREDRCTNL CDATA #IMPLIED
STRT CDATA #IMPLIED
POSTDRCTNL CDATA #IMPLIED
CMPLX CDATA #IMPLIED
BLDNG CDATA #IMPLIED
APRTMNT CDATA #IMPLIED
ALTRNTSTAT CDATA #IMPLIED
CITY CDATA #IMPLIED
STAT CDATA #IMPLIED
ZIP5 CDATA #IMPLIED
ZIP4 CDATA #IMPLIED
ZIP2 CDATA #IMPLIED
NONUSZIP CDATA #IMPLIED
CARRROUT CDATA #IMPLIED
FRGNADRSFLAG CDATA #IMPLIED
ALTRNTADRSFLAG CDATA #IMPLIED
LINE1 CDATA #IMPLIED
LINE2 CDATA #IMPLIED
LINE3 CDATA #IMPLIED
LINE4 CDATA #IMPLIED
>
<!ELEMENT INL00089 EMPTY>
<!ATTLIST INL00089
STMNTCODE CDATA #REQUIRED
SQNCNMBR CDATA #REQUIRED
>
<!ELEMENT INL00090 EMPTY>
<!ATTLIST INL00090
SLCTSTMNTCODE CDATA #IMPLIED
SLCTSQNCNMBR CDATA #IMPLIED
SLCTADRSTYPE CDATA #IMPLIED
>
<!ELEMENT INL00091 EMPTY>
<!-- No attribute list for INL00091 -->
<!ELEMENT INL00092 EMPTY>
<!ATTLIST INL00092
STMNTCODE CDATA #IMPLIED
SQNCNMBR CDATA #IMPLIED
ADRSTYPE CDATA #IMPLIED
ADRSTYPECNTRL CDATA #IMPLIED
CSTMRNAME CDATA #IMPLIED
CSTMRNAMECNTRL CDATA #IMPLIED
CSTMRBSNSNAME CDATA #IMPLIED
CSTMRBSNSNAMECNTRL CDATA #IMPLIED
INCAREOFNAME CDATA #IMPLIED
INCAREOFNAMECNTRL CDATA #IMPLIED
HOMEAREACODE CDATA #IMPLIED
HOMEAREACODECNTRL CDATA #IMPLIED
HOMEEXCHNGNMBR CDATA #IMPLIED
HOMEEXCHNGNMBRCNTRL CDATA #IMPLIED
HOMEPHONNMBR CDATA #IMPLIED
HOMETHSNDNMBRCNTRL CDATA #IMPLIED
BSNSAREACODE CDATA #IMPLIED
BSNSAREACODECNTRL CDATA #IMPLIED
BSNSEXCHNGNMBR CDATA #IMPLIED
BSNSEXCHNGNMBRCNTRL CDATA #IMPLIED
BSNSTLPHNNMBR CDATA #IMPLIED
BSNSTHSNDNMBRCNTRL CDATA #IMPLIED
FAXAREACODE CDATA #IMPLIED
FAXAREACODECNTRL CDATA #IMPLIED
FAXEXCHNGNMBR CDATA #IMPLIED
FAXEXCHNGNMBRCNTRL CDATA #IMPLIED
FAXTLPHNNMBR CDATA #IMPLIED
FAXTLPHNNMBRCNTRL CDATA #IMPLIED
EMALADRS CDATA #IMPLIED
EMALADRSCNTRL CDATA #IMPLIED
ADTNLLCTN CDATA #IMPLIED
ADTNLLCTNCNTRL CDATA #IMPLIED
LCTN CDATA #IMPLIED
LCTNCNTRL CDATA #IMPLIED
FRCTN CDATA #IMPLIED
FRCTNCNTRL CDATA #IMPLIED
PREDRCTNL CDATA #IMPLIED
PREDRCTNLCNTRL CDATA #IMPLIED
STRT CDATA #IMPLIED
STRTCNTRL CDATA #IMPLIED
POSTDRCTNL CDATA #IMPLIED
POSTDRCTNLCNTRL CDATA #IMPLIED
CMPLX CDATA #IMPLIED
CMPLXCNTRL CDATA #IMPLIED
BLDNG CDATA #IMPLIED
BLDNGCNTRL CDATA #IMPLIED
APRTMNT CDATA #IMPLIED
APRTMNTCNTRL CDATA #IMPLIED
ALTRNTSTAT CDATA #IMPLIED
ALTRNTSTATCNTRL CDATA #IMPLIED
CITY CDATA #IMPLIED
CITYCNTRL CDATA #IMPLIED
STAT CDATA #IMPLIED
STATCNTRL CDATA #IMPLIED
ZIP5 CDATA #IMPLIED
ZIP5CNTRL CDATA #IMPLIED
ZIP4 CDATA #IMPLIED
ZIP4CNTRL CDATA #IMPLIED
ZIP2 CDATA #IMPLIED
ZIP2CNTRL CDATA #IMPLIED
NONUSZIP CDATA #IMPLIED
NONUSZIPCNTRL CDATA #IMPLIED
CARRROUT CDATA #IMPLIED
CARRROUTCNTRL CDATA #IMPLIED
FRGNADRSFLAG CDATA #IMPLIED
FRGNADRSFLAGCNTRL CDATA #IMPLIED
ALTRNTADRSFLAG CDATA #IMPLIED
ALTRNTADRSFLAGCNTRL CDATA #IMPLIED
LINE1 CDATA #IMPLIED
ADRSLINE1CNTRL CDATA #IMPLIED
LINE2 CDATA #IMPLIED
ADRSLINE2CNTRL CDATA #IMPLIED
LINE3 CDATA #IMPLIED
ADRSLINE3CNTRL CDATA #IMPLIED
LINE4 CDATA #IMPLIED
ADRSLINE4CNTRL CDATA #IMPLIED
>
<!ELEMENT INL00093 EMPTY>
<!ATTLIST INL00093
STMNTLINETYPE CDATA #REQUIRED
>
<!ELEMENT INL00094 EMPTY>
<!-- No attribute list for INL00094 -->
<!ELEMENT INL00095 EMPTY>
<!-- No attribute list for INL00095 -->
<!ELEMENT INL00096 EMPTY>
<!ATTLIST INL00096
FROMDATE CDATA #REQUIRED
>
<!ELEMENT INL00097 EMPTY>
<!-- No attribute list for INL00097 -->
<!ELEMENT INL00098 EMPTY>
<!-- No attribute list for INL00098 -->
<!ELEMENT INL00099 EMPTY>
<!-- No attribute list for INL00099 -->
<!ELEMENT INL00100 EMPTY>
<!-- No attribute list for INL00100 -->
<!ELEMENT INL00101 EMPTY>
<!ATTLIST INL00101
CODE CDATA #IMPLIED
>
<!ELEMENT INL00102 EMPTY>
<!-- No attribute list for INL00102 -->
<!ELEMENT INL00103 EMPTY>
<!-- No attribute list for INL00103 -->
<!ELEMENT INL00105 EMPTY>
<!ATTLIST INL00105
PRBLMCODE01 CDATA #IMPLIED
PRBLMCODE01CNTRL CDATA #IMPLIED
PRBLMCODE02 CDATA #IMPLIED
PRBLMCODE02CNTRL CDATA #IMPLIED
PRBLMCODE03 CDATA #IMPLIED
PRBLMCODE03CNTRL CDATA #IMPLIED
PRBLMCODE04 CDATA #IMPLIED
PRBLMCODE04CNTRL CDATA #IMPLIED
PRBLMCODE05 CDATA #IMPLIED
PRBLMCODE05CNTRL CDATA #IMPLIED
WOCMNTLINE01 CDATA #IMPLIED
WOCMNTLINE01CNTRL CDATA #IMPLIED
WOCMNTLINE02 CDATA #IMPLIED
WOCMNTLINE02CNTRL CDATA #IMPLIED
WOCMNTLINE03 CDATA #IMPLIED
WOCMNTLINE03CNTRL CDATA #IMPLIED
STAGCODE CDATA #IMPLIED
STAGCODECNTRL CDATA #IMPLIED
SORCCODE CDATA #IMPLIED
SORCCODECNTRL CDATA #IMPLIED
RSCHDLRESN CDATA #IMPLIED
RSCHDLRESNCNTRL CDATA #IMPLIED
RSCHDLRESNCMNT CDATA #IMPLIED
RSCHDLRESNCMNTCNTRL CDATA #IMPLIED
CUSTPRSNCRQRD CDATA #IMPLIED
CUSTPRSNCRQRDCNTRL CDATA #IMPLIED
>
<!ELEMENT INL00106 EMPTY>
<!ATTLIST INL00106
PHONNMBR CDATA #IMPLIED
>
<!ELEMENT INL00107 EMPTY>
<!ATTLIST INL00107
SRVCOCRNC CDATA #REQUIRED
TNSQNCNMBR CDATA #IMPLIED
TNEXTKEY CDATA #IMPLIED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
>
<!ELEMENT INL00108 EMPTY>
<!ATTLIST INL00108
ACNTNMBR CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
>
<!ELEMENT INL00109 EMPTY>
<!ATTLIST INL00109
SRVCCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
WORKORDROCRNC CDATA #IMPLIED
SHRTDSCRPTN CDATA #IMPLIED
LONGDSCRPTN CDATA #IMPLIED
FROMQNTY CDATA #IMPLIED
TOQNTY CDATA #IMPLIED
AMNT CDATA #IMPLIED
PNTS CDATA #IMPLIED
EMPLYNMBR CDATA #IMPLIED
USERID CDATA #IMPLIED
OLDRATE CDATA #IMPLIED
NEWRATE CDATA #IMPLIED
CMPGNCODE CDATA #IMPLIED
CMPGNDSCRPTN CDATA #IMPLIED
CMPGNGROPCODE CDATA #IMPLIED
PCKGCODE CDATA #IMPLIED
PCKGDSCRPTN CDATA #IMPLIED
PCKGGROPCODE CDATA #IMPLIED
CNTRCTID CDATA #IMPLIED
WDCMPGPCDDESC CDATA #IMPLIED
WDPCKGPCDDESC CDATA #IMPLIED
>
<!ELEMENT INL00111 EMPTY>
<!ATTLIST INL00111
GROPCODE CDATA #REQUIRED
CMPGNCODE CDATA #REQUIRED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00112 EMPTY>
<!ATTLIST INL00112
GROPCODE CDATA #REQUIRED
PCKGCODE CDATA #REQUIRED
IGIFNCTNOPTN1 CDATA #IMPLIED
IGIFNCTNOPTN2 CDATA #IMPLIED
IGIFNCTNOPTN3 CDATA #IMPLIED
IGIFNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00113 EMPTY>
<!ATTLIST INL00113
SLCTACNTNMBR CDATA #REQUIRED
SLCTSITEID CDATA #IMPLIED
SLCTHOMETLPHN CDATA #IMPLIED
SLCTTITL CDATA #IMPLIED
SLCTFRSTNAME CDATA #IMPLIED
SLCTMIDLINTL CDATA #IMPLIED
SLCTLASTNAME CDATA #IMPLIED
SLCTCSTMRSTTS CDATA #IMPLIED
SLCTSOCLSCRTY CDATA #IMPLIED
SLCTPINNMBR CDATA #IMPLIED
SLCTCSTMRTYPE CDATA #IMPLIED
SLCTCSTMRCTGRY CDATA #IMPLIED
>
<!ELEMENT INL00114 EMPTY>
<!ATTLIST INL00114
SLCTHOMETLPHN CDATA #REQUIRED
SLCTSITEID CDATA #IMPLIED
SLCTACNTNMBR CDATA #IMPLIED
SLCTTITL CDATA #IMPLIED
SLCTFRSTNAME CDATA #IMPLIED
SLCTMIDLINTL CDATA #IMPLIED
SLCTLASTNAME CDATA #IMPLIED
SLCTCSTMRSTTS CDATA #IMPLIED
SLCTSOCLSCRTY CDATA #IMPLIED
SLCTPINNMBR CDATA #IMPLIED
SLCTCSTMRTYPE CDATA #IMPLIED
SLCTCSTMRCTGRY CDATA #IMPLIED
>
<!ELEMENT INL00115 EMPTY>
<!ATTLIST INL00115
SLCTLASTNAME CDATA #REQUIRED
SLCTSITEID CDATA #IMPLIED
SLCTACNTNMBR CDATA #IMPLIED
SLCTHOMETLPHN CDATA #IMPLIED
SLCTTITL CDATA #IMPLIED
SLCTFRSTNAME CDATA #IMPLIED
SLCTMIDLINTL CDATA #IMPLIED
SLCTCSTMRSTTS CDATA #IMPLIED
SLCTSOCLSCRTY CDATA #IMPLIED
SLCTPINNMBR CDATA #IMPLIED
SLCTCSTMRTYPE CDATA #IMPLIED
SLCTCSTMRCTGRY CDATA #IMPLIED
>
<!ELEMENT INL00116 EMPTY>
<!ATTLIST INL00116
SLCTSOCLSCRTY CDATA #REQUIRED
SLCTSITEID CDATA #IMPLIED
SLCTACNTNMBR CDATA #IMPLIED
SLCTHOMETLPHN CDATA #IMPLIED
SLCTTITL CDATA #IMPLIED
SLCTFRSTNAME CDATA #IMPLIED
SLCTMIDLINTL CDATA #IMPLIED
SLCTLASTNAME CDATA #IMPLIED
SLCTCSTMRSTTS CDATA #IMPLIED
SLCTPINNMBR CDATA #IMPLIED
SLCTCSTMRTYPE CDATA #IMPLIED
SLCTCSTMRCTGRY CDATA #IMPLIED
>
<!ELEMENT INL00117 EMPTY>
<!ATTLIST INL00117
ORDRSTTS CDATA #IMPLIED
ORDRSTTSCNTRL CDATA #IMPLIED
TECHNMBR CDATA #IMPLIED
TECHNMBRCNTRL CDATA #IMPLIED
PAPRCIDFLTSTTS CDATA #IMPLIED
PAPRCIDFLTSTTSCNTRL CDATA #IMPLIED
ORDRCMNTLINE1 CDATA #IMPLIED
ORDRCMNTLINE1CNTRL CDATA #IMPLIED
ORDRCMNTLINE2 CDATA #IMPLIED
ORDRCMNTLINE2CNTRL CDATA #IMPLIED
ORDRCMNTLINE3 CDATA #IMPLIED
ORDRCMNTLINE3CNTRL CDATA #IMPLIED
INSTLCMPLTNDATE CDATA #IMPLIED
INSTLCMPLTNDATECNTRL CDATA #IMPLIED
PRMRYFNDNGCODE CDATA #IMPLIED
PRMRYFNDNGCODECNTRL CDATA #IMPLIED
ALTRNTFNDNGCODE1 CDATA #IMPLIED
ALTRNTFNDNGCODE1CNTRL CDATA #IMPLIED
ALTRNTFNDNGCODE2 CDATA #IMPLIED
ALTRNTFNDNGCODE2CNTRL CDATA #IMPLIED
ALTRNTFNDNGCODE3 CDATA #IMPLIED
ALTRNTFNDNGCODE3CNTRL CDATA #IMPLIED
CNCLNDRESNCODE CDATA #IMPLIED
CNCLNDRESNCODECNTRL CDATA #IMPLIED
CODDLRS CDATA #IMPLIED
CODDLRSCNTRL CDATA #IMPLIED
SLSMNNMBR CDATA #IMPLIED
SLSMNNMBRCNTRL CDATA #IMPLIED
RESNNMBR CDATA #IMPLIED
RESNNMBRCNTRL CDATA #IMPLIED
TAGNMBR CDATA #IMPLIED
TAGNMBRCNTRL CDATA #IMPLIED
SCNDTAGNMBR CDATA #IMPLIED
SCNDTAGNMBRCNTRL CDATA #IMPLIED
CMPLTNTIME CDATA #IMPLIED
CMPLTNTIMECNTRL CDATA #IMPLIED
ARVLTIME CDATA #IMPLIED
ARVLTIMECNTRL CDATA #IMPLIED
PRMRYSLTNCODE CDATA #IMPLIED
PRMRYSLTNCODECNTRL CDATA #IMPLIED
ALTRNTSLTNCODE1 CDATA #IMPLIED
ALTRNTSLTNCODE1CNTRL CDATA #IMPLIED
ALTRNTSLTNCODE2 CDATA #IMPLIED
ALTRNTSLTNCODE2CNTRL CDATA #IMPLIED
ALTRNTSLTNCODE3 CDATA #IMPLIED
ALTRNTSLTNCODE3CNTRL CDATA #IMPLIED
ALTRNTSLTNCODE4 CDATA #IMPLIED
ALTRNTSLTNCODE4CNTRL CDATA #IMPLIED
ALTRNTSLTNCODE5 CDATA #IMPLIED
ALTRNTSLTNCODE5CNTRL CDATA #IMPLIED
ALTRNTSLTNCODE6 CDATA #IMPLIED
ALTRNTSLTNCODE6CNTRL CDATA #IMPLIED
ALTRNTSLTNCODE7 CDATA #IMPLIED
ALTRNTSLTNCODE7CNTRL CDATA #IMPLIED
EQPMNTFLAGONCHCK CDATA #IMPLIED
EQPMNTFLAGONCHCKCNTRL CDATA #IMPLIED
STRTBLNGDATE CDATA #IMPLIED
STRTBLNGDATECNTRL CDATA #IMPLIED
SALSDATE CDATA #IMPLIED
SALSDATECNTRL CDATA #IMPLIED
>
<!ELEMENT INL00118 EMPTY>
<!ATTLIST INL00118
BILLFROMSTMNTCODE CDATA #REQUIRED
BILLWITHSTMNTCODE CDATA #REQUIRED
BILLWITHACNTNMBR CDATA #IMPLIED
>
<!ELEMENT INL00119 EMPTY>
<!ATTLIST INL00119
BILLFROMSRVCCTGRY CDATA #REQUIRED
BILLWITHSTMNTCODE CDATA #REQUIRED
BILLWITHACNTNMBR CDATA #IMPLIED
>
<!ELEMENT INL00120 EMPTY>
<!ATTLIST INL00120
CNTRCTID CDATA #REQUIRED
>
<!ELEMENT INL00121 EMPTY>
<!ATTLIST INL00121
WHERFROM CDATA #IMPLIED
WHERFROMCNTRL CDATA #IMPLIED
ORDRENTRYFNCTN CDATA #IMPLIED
ORDRENTRYFNCTNCNTRL CDATA #IMPLIED
OPENWORKORDR CDATA #IMPLIED
CSTMRNAME CDATA #IMPLIED
ADRSLINE1 CDATA #IMPLIED
ADRSLINE2 CDATA #IMPLIED
CSTMRSTTSCODE CDATA #IMPLIED
CSTMRSTTSABRVTDDSCRPTN CDATA #IMPLIED
STTSDATE CDATA #IMPLIED
CMPNYNMBR CDATA #IMPLIED
DVSNNMBR CDATA #IMPLIED
FRNCHSNMBR CDATA #IMPLIED
BSNSID CDATA #IMPLIED
BSNSLCTN CDATA #IMPLIED
BSNSNAME1 CDATA #IMPLIED
BSNSNAME2 CDATA #IMPLIED
NEXTHGHRBSNSID CDATA #IMPLIED
NEXTHGHRBSNSLCTN CDATA #IMPLIED
IGI4153FNCTNOPTN1 CDATA #IMPLIED
IGI4153FNCTNOPTN2 CDATA #IMPLIED
IGI4153FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00122 EMPTY>
<!ATTLIST INL00122
BSNSID CDATA #REQUIRED
BSNSLCTN CDATA #REQUIRED
>
<!ELEMENT INL00123 EMPTY>
<!ATTLIST INL00123
BSNSID CDATA #REQUIRED
BSNSLCTN CDATA #REQUIRED
>
<!ELEMENT INL00124 EMPTY>
<!ATTLIST INL00124
BSNSID CDATA #REQUIRED
BSNSLCTN CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT INL00125 EMPTY>
<!ATTLIST INL00125
BSNSID CDATA #REQUIRED
BSNSLCTN CDATA #REQUIRED
>
<!ELEMENT INL00126 EMPTY>
<!ATTLIST INL00126
BSNSID CDATA #IMPLIED
BSNSLCTN CDATA #IMPLIED
ACNTNMBR CDATA #IMPLIED
IGI4158FNCTNOPTN1 CDATA #IMPLIED
IGI4158FNCTNOPTN2 CDATA #IMPLIED
IGI4158FNCTNOPTN3 CDATA #IMPLIED
IGI4158FNCTNACTN CDATA #IMPLIED
IGI4158ARRYACTN CDATA #IMPLIED
IGI4158ARRYACTNOPTN CDATA #IMPLIED
>
<!ELEMENT INL00127 EMPTY>
<!ATTLIST INL00127
BSNSID CDATA #IMPLIED
IGI4151SQNCNMBR CDATA #IMPLIED
BSNSLCTN CDATA #IMPLIED
BSNSLCTNCNTRL CDATA #IMPLIED
BILLDAY CDATA #IMPLIED
BILLDAYCNTRL CDATA #IMPLIED
PRNTVNDRFLAG CDATA #IMPLIED
PRNTVNDRFLAGCNTRL CDATA #IMPLIED
IGI4151FNCTNOPTN1 CDATA #IMPLIED
IGI4151FNCTNOPTN2 CDATA #IMPLIED
IGI4151FNCTNOPTN3 CDATA #IMPLIED
IGI4151FNCTNACTN CDATA #IMPLIED
IGI4151ARRYACTN CDATA #IMPLIED
IGI4151ARRYACTNOPTN CDATA #IMPLIED
>
<!ELEMENT INL00128 EMPTY>
<!ATTLIST INL00128
BSNSID CDATA #REQUIRED
BSNSLCTN CDATA #REQUIRED
BILLDAY CDATA #REQUIRED
PRNTVNDRFLAG CDATA #REQUIRED
>
<!ELEMENT INL00129 EMPTY>
<!ATTLIST INL00129
IGI4155SQNCNMBR CDATA #IMPLIED
BSNSID CDATA #IMPLIED
BSNSLCTN CDATA #IMPLIED
NEXTHGHRBSNSID CDATA #IMPLIED
NEXTHGHRBSNSIDCNTRL CDATA #IMPLIED
NEXTHGHRBSNSLCTN CDATA #IMPLIED
NEXTHGHRBSNSLCTNCNTRL CDATA #IMPLIED
BSNSNAME1 CDATA #IMPLIED
BSNSNAME1CNTRL CDATA #IMPLIED
BSNSNAME2 CDATA #IMPLIED
BSNSNAME2CNTRL CDATA #IMPLIED
ADRSINVNTRYNMBR CDATA #IMPLIED
ADRSINVNTRYNMBRCNTRL CDATA #IMPLIED
IGI4155FNCTNOPTN1 CDATA #IMPLIED
IGI4155FNCTNOPTN2 CDATA #IMPLIED
IGI4155FNCTNOPTN3 CDATA #IMPLIED
IGI4155FNCTNACTN CDATA #IMPLIED
IGI4155ARRYACTN CDATA #IMPLIED
IGI4155ARRYACTNOPTN CDATA #IMPLIED
>
<!ELEMENT INL00130 EMPTY>
<!ATTLIST INL00130
PRNTBSNSID CDATA #REQUIRED
PRNTBSNSLCTN CDATA #REQUIRED
BSNSLCTN CDATA #REQUIRED
BSNSNAME CDATA #REQUIRED
BSNSNAME2 CDATA #IMPLIED
ADRSINVNTRYNMBR CDATA #IMPLIED
>
<!ELEMENT INL00131 EMPTY>
<!ATTLIST INL00131
HOUSNMBR CDATA #IMPLIED
HOUSEXTRNLKEY CDATA #IMPLIED
NEWHOUSNMBR CDATA #IMPLIED
NEWHOUSEXTRNLKEY CDATA #IMPLIED
ACNTNMBR CDATA #IMPLIED
WHERFROM CDATA #IMPLIED
WHERFROMCNTRL CDATA #IMPLIED
OPENWORKORDR CDATA #IMPLIED
ORDRENTRYFNCTN CDATA #IMPLIED
ORDRENTRYFNCTNCNTRL CDATA #IMPLIED
ADTNLLCTN CDATA #IMPLIED
ADTNLLCTNCNTRL CDATA #IMPLIED
LCTN CDATA #IMPLIED
LCTNCNTRL CDATA #IMPLIED
FRCTN CDATA #IMPLIED
FRCTNCNTRL CDATA #IMPLIED
PREDRCTNL CDATA #IMPLIED
PREDRCTNLCNTRL CDATA #IMPLIED
STRT CDATA #IMPLIED
STRTCNTRL CDATA #IMPLIED
POSTDRCTNL CDATA #IMPLIED
POSTDRCTNLCNTRL CDATA #IMPLIED
CMPLX CDATA #IMPLIED
CMPLXCNTRL CDATA #IMPLIED
BLDNG CDATA #IMPLIED
BLDNGCNTRL CDATA #IMPLIED
APRTMNT CDATA #IMPLIED
APRTMNTCNTRL CDATA #IMPLIED
CITY CDATA #IMPLIED
CITYCNTRL CDATA #IMPLIED
STAT CDATA #IMPLIED
STATCNTRL CDATA #IMPLIED
ZIP5 CDATA #IMPLIED
ZIP5CNTRL CDATA #IMPLIED
ZIP4 CDATA #IMPLIED
ZIP4CNTRL CDATA #IMPLIED
ZIP2 CDATA #IMPLIED
ZIP2CNTRL CDATA #IMPLIED
CARRROUT CDATA #IMPLIED
CARRROUTCNTRL CDATA #IMPLIED
ALTRNTSTAT CDATA #IMPLIED
ALTRNTSTATCNTRL CDATA #IMPLIED
NONUSZIP CDATA #IMPLIED
NONUSZIPCNTRL CDATA #IMPLIED
TARCODE CDATA #IMPLIED
TARCODECNTRL CDATA #IMPLIED
AUDTCHCKCODE CDATA #IMPLIED
AUDTCHCKCODECNTRL CDATA #IMPLIED
IGI4163FNCTNOPTN1 CDATA #IMPLIED
IGI4163FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00132 EMPTY>
<!ATTLIST INL00132
HOUSNMBR CDATA #IMPLIED
HOUSEXTRNLKEY CDATA #IMPLIED
NEWHOUSEXTRNLKEY CDATA #IMPLIED
ADTNLLCTN CDATA #IMPLIED
ADTNLLCTNCNTRL CDATA #IMPLIED
LCTN CDATA #IMPLIED
LCTNCNTRL CDATA #IMPLIED
FRCTN CDATA #IMPLIED
FRCTNCNTRL CDATA #IMPLIED
PREDRCTNL CDATA #IMPLIED
PREDRCTNLCNTRL CDATA #IMPLIED
STRT CDATA #IMPLIED
STRTCNTRL CDATA #IMPLIED
POSTDRCTNL CDATA #IMPLIED
POSTDRCTNLCNTRL CDATA #IMPLIED
CMPLX CDATA #IMPLIED
CMPLXCNTRL CDATA #IMPLIED
BLDNG CDATA #IMPLIED
BLDNGCNTRL CDATA #IMPLIED
APRTMNT CDATA #IMPLIED
APRTMNTCNTRL CDATA #IMPLIED
CITY CDATA #IMPLIED
CITYCNTRL CDATA #IMPLIED
STAT CDATA #IMPLIED
STATCNTRL CDATA #IMPLIED
ZIP5 CDATA #IMPLIED
ZIP5CNTRL CDATA #IMPLIED
ZIP4 CDATA #IMPLIED
ZIP4CNTRL CDATA #IMPLIED
ZIP2 CDATA #IMPLIED
ZIP2CNTRL CDATA #IMPLIED
CARRROUT CDATA #IMPLIED
CARRROUTCNTRL CDATA #IMPLIED
ALTRNTSTAT CDATA #IMPLIED
ALTRNTSTATCNTRL CDATA #IMPLIED
NONUSZIP CDATA #IMPLIED
NONUSZIPCNTRL CDATA #IMPLIED
TARCODE CDATA #IMPLIED
TARCODECNTRL CDATA #IMPLIED
AUDTCHCKCODE CDATA #IMPLIED
AUDTCHCKCODECNTRL CDATA #IMPLIED
>
<!ELEMENT INL00133 EMPTY>
<!-- No attribute list for INL00133 -->
<!ELEMENT INL00134 EMPTY>
<!ATTLIST INL00134
STMNTCODE CDATA #IMPLIED
ACNTNMBR CDATA #IMPLIED
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #IMPLIED
OCRNCEXTRNLKEY CDATA #IMPLIED
SRVCCODE CDATA #REQUIRED
BLNGFRQNCYCODE CDATA #REQUIRED
>
<!ELEMENT INL00135 EMPTY>
<!ATTLIST INL00135
MTHDOFPAYCODE CDATA #REQUIRED
MOPACNTSQNC CDATA #REQUIRED
CIDVALU CDATA #IMPLIED
>
<!ELEMENT INL00136 EMPTY>
<!ATTLIST INL00136
TRVRSLEVL CDATA #IMPLIED
SLCTSTMNTCODE CDATA #IMPLIED
SLCTMTHDOFPAYCODE CDATA #IMPLIED
SLCTTRNSCTNRCPTTYPE CDATA #IMPLIED
>
<!ELEMENT INL00137 EMPTY>
<!ATTLIST INL00137
RQSTDATE CDATA #IMPLIED
RQSTTIME CDATA #IMPLIED
MRCHNTORDRNMBR CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
TRNSCTNRCPTTYPE CDATA #IMPLIED
MOPACNTNMBR CDATA #IMPLIED
PYMNTAMNT CDATA #IMPLIED
ATHRZTNRQSTSENT CDATA #IMPLIED
>
<!ELEMENT INL00138 EMPTY>
<!ATTLIST INL00138
TRVRSLEVL CDATA #IMPLIED
SLCTSTMNTCODE CDATA #IMPLIED
SLCTMTHDOFPAYCODE CDATA #IMPLIED
SLCTTRNSCTNRCPTTYPE CDATA #IMPLIED
SLCTPNDNGPYMNTSTTS CDATA #IMPLIED
>
<!ELEMENT INL00139 EMPTY>
<!ATTLIST INL00139
STMNTCODE CDATA #IMPLIED
BLNGDATE CDATA #IMPLIED
PYMNTLINENMBR CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
TRNSCTNRCPTTYPE CDATA #IMPLIED
DUEDATE CDATA #IMPLIED
TRNSCTNAMNT CDATA #IMPLIED
PNDNGPYMNTSTTS CDATA #IMPLIED
TRNSCTNRFRNCID CDATA #IMPLIED
PNDNGAUTHAPRVLCODE CDATA #IMPLIED
>
<!ELEMENT INL00140 EMPTY>
<!ATTLIST INL00140
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00141 EMPTY>
<!ATTLIST INL00141
TRVRSLEVL CDATA #IMPLIED
SLCTSTMNTCODE CDATA #IMPLIED
>
<!ELEMENT INL00142 EMPTY>
<!ATTLIST INL00142
BTCHDATE CDATA #IMPLIED
BTCHSQNC CDATA #IMPLIED
CASHADJSTMNTSQNCNMBR CDATA #IMPLIED
CHCKAMNT CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
ARCODE CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
ADJSTMNTAMNT CDATA #IMPLIED
ARADJSTMNTCODE CDATA #IMPLIED
>
<!ELEMENT INL00143 EMPTY>
<!ATTLIST INL00143
TRVRSLEVL CDATA #IMPLIED
SLCTSTMNTCODE CDATA #IMPLIED
>
<!ELEMENT INL00144 EMPTY>
<!-- No attribute list for INL00144 -->
<!ELEMENT INL00145 EMPTY>
<!ATTLIST INL00145
TRVRSLEVL CDATA #IMPLIED
SLCTSRVCCTGRY CDATA #IMPLIED
SLCTSRVCOCRNC CDATA #IMPLIED
SLCTSRVCCODE CDATA #IMPLIED
EXCTINL00171 CDATA #IMPLIED
SLCTHSDUSRS CDATA #IMPLIED
>
<!ELEMENT INL00146
(INL00147*,INL00148*,INL00150*,INL00153*,INL00152*,INL00155*,INL00163*,
  INL00213*)>
<!ATTLIST INL00146
SLCTSTMNTCODE CDATA #IMPLIED
SLCTPRCSCNTRLNMBR CDATA #IMPLIED
>
<!ELEMENT INL00147 EMPTY>
<!ATTLIST INL00147
TRVRSLEVL CDATA #IMPLIED
SLCTTOLLCSTMROCRNC CDATA #REQUIRED
SLCTBLNGCYCL CDATA #IMPLIED
SLCTTOLLBILLTOACNT CDATA #IMPLIED
SLCTTRBRATDCNTRY CDATA #IMPLIED
SLCTTRBRATDYEAR CDATA #IMPLIED
SLCTTRBRATDMNTH CDATA #IMPLIED
SLCTTRBRATDDAY CDATA #IMPLIED
SLCTTRBRATDCNCTNTIME CDATA #IMPLIED
SLCTTRBRATDCNCTNSCNDS CDATA #IMPLIED
SLCTTRBRUNDATE CDATA #IMPLIED
SLCTTRBRUNTIME CDATA #IMPLIED
SLCTTRBSQNCNMBR CDATA #IMPLIED
SLCTSRVCCTGRYCODE CDATA #IMPLIED
NMBROFRCRDS CDATA #IMPLIED
FROMRCRDNMBR CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDSRQRD CDATA #IMPLIED
>
<!ELEMENT INL00148 EMPTY>
<!ATTLIST INL00148
TRVRSLEVL CDATA #IMPLIED
SLCTTRNSCTNTYPE CDATA #IMPLIED
>
<!ELEMENT INL00149 EMPTY>
<!ATTLIST INL00149
STMNTCODE CDATA #IMPLIED
PRCSCNTRLNMBR CDATA #IMPLIED
TRNSCTNTYPE CDATA #IMPLIED
NMBROFTRNSCTNS CDATA #IMPLIED
CRDTTRNSCTNAMNT CDATA #IMPLIED
CRDTTAXAMNT CDATA #IMPLIED
CRDTTRNSFRTAXAMNT CDATA #IMPLIED
DEBTTRNSCTNAMNT CDATA #IMPLIED
DEBTTAXAMNT CDATA #IMPLIED
DEBTTRNSFRTAXAMNT CDATA #IMPLIED
>
<!ELEMENT INL00150 EMPTY>
<!ATTLIST INL00150
TRVRSLEVL CDATA #IMPLIED
SLCTAUDTCNTRLDATE CDATA #IMPLIED
SLCTAUDTCNTRLNMBR CDATA #IMPLIED
SLCTTAXKEY CDATA #IMPLIED
SLCTTRNSCTNSQNCNMBR CDATA #IMPLIED
SLCTTRNSCTNTYPE CDATA #IMPLIED
SLCTSRVCCTGRYCODE CDATA #IMPLIED
NMBROFRCRDS CDATA #IMPLIED
FROMRCRDNMBR CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDSRQRD CDATA #IMPLIED
>
<!ELEMENT INL00151 EMPTY>
<!ATTLIST INL00151
BLNGCYCL CDATA #IMPLIED
TOLLBILLTOACNT CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
TRBRATDCNTRY CDATA #IMPLIED
TRBRATDYEAR CDATA #IMPLIED
TRBRATDMNTH CDATA #IMPLIED
TRBRATDDAY CDATA #IMPLIED
TRBRATDCNCTTIME CDATA #IMPLIED
TRBRATDCNCTSCNDS CDATA #IMPLIED
TRBRUNDATE CDATA #IMPLIED
TRBRUNTIME CDATA #IMPLIED
TRBSQNCNMBR CDATA #IMPLIED
TOLLCRDTFLAGINDCTR CDATA #IMPLIED
FROMTLPHNNMBR CDATA #IMPLIED
TRBRATDFROMPLAC CDATA #IMPLIED
TRBRATDFROMSTAT CDATA #IMPLIED
TRBRATDCARRID CDATA #IMPLIED
TRBRATDTYPECALL CDATA #IMPLIED
TRBRATDRCRDTYPE CDATA #IMPLIED
TRBRATDRATECLAS CDATA #IMPLIED
TRBRATDSTLMNT CDATA #IMPLIED
CSTMRNOTCSTMR CDATA #IMPLIED
TOTLPHNNMBR CDATA #IMPLIED
TRBRATDTOPLAC CDATA #IMPLIED
TRBRATDTOSTAT CDATA #IMPLIED
TRBRATDMNTS CDATA #IMPLIED
TRBRATDSCNDS CDATA #IMPLIED
TOLLAMNT CDATA #IMPLIED
IAMPERD CDATA #IMPLIED
>
<!ELEMENT INL00152 EMPTY>
<!ATTLIST INL00152
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00153 EMPTY>
<!ATTLIST INL00153
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00154 EMPTY>
<!-- No attribute list for INL00154 -->
<!ELEMENT INL00155 EMPTY>
<!ATTLIST INL00155
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00156 EMPTY>
<!ATTLIST INL00156
TRVRSLEVL CDATA #IMPLIED
SLCTCPEIDNTFR CDATA #IMPLIED
SLCTMODMSQNCNMBR CDATA #IMPLIED
>
<!ELEMENT INL00157 EMPTY>
<!ATTLIST INL00157
TRVRSLEVL CDATA #IMPLIED
SLCTMODMSQNCNMBR CDATA #IMPLIED
SLCTCPEIDNTFR CDATA #IMPLIED
>
<!ELEMENT INL00158 EMPTY>
<!-- No attribute list for INL00158 -->
<!ELEMENT INL00159 EMPTY>
<!-- No attribute list for INL00159 -->
<!ELEMENT INL00160 EMPTY>
<!ATTLIST INL00160
TRVRSLEVL CDATA #IMPLIED
BILLWITHACNTNMBR CDATA #IMPLIED
BILLWITHSTMNTCODE CDATA #IMPLIED
CLNGPRGRMID CDATA #IMPLIED
>
<!ELEMENT INL00161 EMPTY>
<!ATTLIST INL00161
AUDTCNTRLDATE CDATA #IMPLIED
AUDTCNTRLNMBR CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
TRNSCTNSQNCNMBR CDATA #IMPLIED
TRNSCTNTYPE CDATA #IMPLIED
SRVCCTGRY CDATA #IMPLIED
TRNSCTNFROMDATE CDATA #IMPLIED
TRNSCTNTODATE CDATA #IMPLIED
DETLDSCRPTN CDATA #IMPLIED
TRNSCTNAMNT CDATA #IMPLIED
TAXAMNT CDATA #IMPLIED
TRNSFRTAXAMNT CDATA #IMPLIED
>
<!ELEMENT INL00162 EMPTY>
<!ATTLIST INL00162
TAXTYPE CDATA #IMPLIED
TAXTYPEDSCRPTN CDATA #IMPLIED
BASEAMNT CDATA #IMPLIED
TAXAMNT CDATA #IMPLIED
TAXSTMNTLINENMBR CDATA #IMPLIED
>
<!ELEMENT INL00163 EMPTY>
<!ATTLIST INL00163
TRVRSLEVL CDATA #IMPLIED
STMNTLINETYPE CDATA #IMPLIED
>
<!ELEMENT INL00164 EMPTY>
<!ATTLIST INL00164
STMNTCODE CDATA #IMPLIED
PRCSCNTRLNMBR CDATA #IMPLIED
>
<!ELEMENT INL00165 EMPTY>
<!ATTLIST INL00165
TRVRSLEVL CDATA #IMPLIED
SLCTSTMNTCODE CDATA #IMPLIED
>
<!ELEMENT INL00166 EMPTY>
<!ATTLIST INL00166
STMNTCODE CDATA #IMPLIED
TRNSCTNTYPE CDATA #IMPLIED
TRNSCTNAMNT CDATA #IMPLIED
TRNSCTNFROMDATE CDATA #IMPLIED
TRNSCTNTODATE CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
>
<!ELEMENT INL00169 EMPTY>
<!-- No attribute list for INL00169 -->
<!ELEMENT INL00170 EMPTY>
<!ATTLIST INL00170
ACNTNMBR CDATA #IMPLIED
ACNTEXTRNLKEY CDATA #IMPLIED
DATEOFBIRTH CDATA #IMPLIED
DATEOFBRTHCNTRL CDATA #IMPLIED
DRVRSLCNSNMBR CDATA #IMPLIED
DRVRSLCNSNMBRCNTRL CDATA #IMPLIED
PLACOFEMPLYMNT CDATA #IMPLIED
PLACOFEMPLYMNTCNTRL CDATA #IMPLIED
VCRDATA CDATA #IMPLIED
VCRDATACNTRL CDATA #IMPLIED
ABSWTCH CDATA #IMPLIED
ABSWTCHCNTRL CDATA #IMPLIED
SPOSORROOMMATE CDATA #IMPLIED
SPOSORROOMMATECNTRL CDATA #IMPLIED
SPOSDRVRSLCNS CDATA #IMPLIED
SPOSDRVRSLCNSCNTRL CDATA #IMPLIED
SPOSSOCLSCRTY CDATA #IMPLIED
SPOSSOCLSCRTYCNTRL CDATA #IMPLIED
RLTVSNAME CDATA #IMPLIED
RLTVSNAMECNTRL CDATA #IMPLIED
RLTVSADRS01 CDATA #IMPLIED
RLTVSADRS01CNTRL CDATA #IMPLIED
RLTVSADRS02 CDATA #IMPLIED
RLTVSADRS02CNTRL CDATA #IMPLIED
RLTVSTLPHNNMBR CDATA #IMPLIED
RLTVSTLPHNCNTRL CDATA #IMPLIED
CMNTLINE01 CDATA #IMPLIED
CMNTLINE01CTRL CDATA #IMPLIED
CMNTLINE02 CDATA #IMPLIED
CMNTLINE02CTRL CDATA #IMPLIED
CMNTLINE03 CDATA #IMPLIED
CMNTLINE03CTRL CDATA #IMPLIED
>
<!ELEMENT INL00171 EMPTY>
<!-- No attribute list for INL00171 -->
<!ELEMENT INL00188 EMPTY>
<!ATTLIST INL00188
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00189 EMPTY>
<!ATTLIST INL00189
TRVRSLEVL CDATA #IMPLIED
FLSHPRTY CDATA #IMPLIED
FLSHCODE CDATA #IMPLIED
FLSHCODEDSCRPTN CDATA #IMPLIED
>
<!ELEMENT INL00190 EMPTY>
<!ATTLIST INL00190
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00191 EMPTY>
<!ATTLIST INL00191
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00192 EMPTY>
<!ATTLIST INL00192
HOUSNMBR CDATA #REQUIRED
ACNTEXTRNLKEY CDATA #IMPLIED
CSTMRNAMEFRMT CDATA #IMPLIED
CSTMRBSNSNAME1 CDATA #IMPLIED
CSTMRBSNSNAME2 CDATA #IMPLIED
TITL CDATA #IMPLIED
FRSTNAME CDATA #IMPLIED
MIDLINTL CDATA #IMPLIED
LASTNAME CDATA #IMPLIED
TITLOFLING CDATA #IMPLIED
HOMETLPHNNMBR CDATA #IMPLIED
BSNSTLPHNNMBR CDATA #IMPLIED
OTHRTLPHNNMBR CDATA #IMPLIED
SOCLSCRTYNMBR CDATA #IMPLIED
PIN CDATA #IMPLIED
VIDERTNGCODE CDATA #IMPLIED
CSTMRCMNT CDATA #IMPLIED
TAXEXMPTCODE CDATA #IMPLIED
CSTMRTYPECODE CDATA #IMPLIED
CSTMRTYPECODECNTRL CDATA #IMPLIED
LANGCODE CDATA #IMPLIED
LANGCODECNTRL CDATA #IMPLIED
CSTMRCTGRY CDATA #IMPLIED
CSTMRCTGRYCNTRL CDATA #IMPLIED
MERGPRRT CDATA #IMPLIED
MERGPRRTCNTRL CDATA #IMPLIED
LINPID CDATA #IMPLIED
LINPIDCNTRL CDATA #IMPLIED
EMALADRS CDATA #IMPLIED
TRNSFRACNT CDATA #IMPLIED
TRNSFRSITEID CDATA #IMPLIED
TRNSFRACNTNMBR CDATA #IMPLIED
OVRDINSTLOPTN CDATA #IMPLIED
OVRDOCPNTCODEOPTN CDATA #IMPLIED
>
<!ELEMENT INL00193 EMPTY>
<!ATTLIST INL00193
ACNTNMBR CDATA #IMPLIED
ACNTEXTRNLKEY CDATA #IMPLIED
CSTMRNAMEFRMT CDATA #IMPLIED
CSTMRNAMEFRMTCNTRL CDATA #IMPLIED
CSTMRBSNSNAME1 CDATA #IMPLIED
CSTMRBSNSNAME1CNTRL CDATA #IMPLIED
CSTMRBSNSNAME2 CDATA #IMPLIED
CSTMRBSNSNAME2CNTRL CDATA #IMPLIED
TITL CDATA #IMPLIED
TITLCNTRL CDATA #IMPLIED
FRSTNAME CDATA #IMPLIED
FRSTNAMECNTRL CDATA #IMPLIED
MIDLINTL CDATA #IMPLIED
MIDLINTLCNTRL CDATA #IMPLIED
LASTNAME CDATA #IMPLIED
LASTNAMECNTRL CDATA #IMPLIED
TITLOFLING CDATA #IMPLIED
TITLOFLINGCNTRL CDATA #IMPLIED
HOMETLPHNNMBR CDATA #IMPLIED
HOMETLPHNNMBRCNTRL CDATA #IMPLIED
BSNSTLPHNNMBR CDATA #IMPLIED
BSNSTLPHNNMBRCNTRL CDATA #IMPLIED
OTHRTLPHNNMBR CDATA #IMPLIED
OTHRTLPHNNMBRCNTRL CDATA #IMPLIED
SOCLSCRTYNMBR CDATA #IMPLIED
SOCLSCRTYNMBRCNTRL CDATA #IMPLIED
PIN CDATA #IMPLIED
PINCNTRL CDATA #IMPLIED
VIDERTNGCODE CDATA #IMPLIED
VIDERTNGCODECNTRL CDATA #IMPLIED
CSTMRCMNT CDATA #IMPLIED
CSTMRCMNTCNTRL CDATA #IMPLIED
TAXEXMPTCODE CDATA #IMPLIED
TAXEXMPTCODECNTRL CDATA #IMPLIED
CSTMRTYPECODE CDATA #IMPLIED
CSTMRTYPECODECNTRL CDATA #IMPLIED
LANGCODE CDATA #IMPLIED
LANGCODECNTRL CDATA #IMPLIED
CSTMRCTGRY CDATA #IMPLIED
CSTMRCTGRYCNTRL CDATA #IMPLIED
MERGPRRT CDATA #IMPLIED
MERGPRRTCNTRL CDATA #IMPLIED
LINPID CDATA #IMPLIED
LINPIDCNTRL CDATA #IMPLIED
EMALADRS CDATA #IMPLIED
EMALADRSCNTRL CDATA #IMPLIED
>
<!ELEMENT INL00194 EMPTY>
<!ATTLIST INL00194
ACNTNMBR CDATA #IMPLIED
ACNTEXTRNLKEY CDATA #IMPLIED
WHERFROM CDATA #IMPLIED
WHERFROMCNTRL CDATA #IMPLIED
ORDRENTRYFNCTN CDATA #IMPLIED
ORDRENTRYFNCTNCNTRL CDATA #IMPLIED
OPENWORKORDR CDATA #IMPLIED
TRNSFRSITEID CDATA #IMPLIED
TRNSFRACNTNMBR CDATA #IMPLIED
TRNSFRACNT CDATA #IMPLIED
CSTMRBSNSNAME1 CDATA #IMPLIED
CSTMRBSNSNAME1CNTRL CDATA #IMPLIED
CSTMRBSNSNAME2 CDATA #IMPLIED
CSTMRBSNSNAME2CNTRL CDATA #IMPLIED
TITL CDATA #IMPLIED
TITLCNTRL CDATA #IMPLIED
FRSTNAME CDATA #IMPLIED
FRSTNAMECNTRL CDATA #IMPLIED
MIDLINTL CDATA #IMPLIED
MIDLINTLCNTRL CDATA #IMPLIED
LASTNAME CDATA #IMPLIED
LASTNAMECNTRL CDATA #IMPLIED
TITLOFLING CDATA #IMPLIED
TITLOFLINGCNTRL CDATA #IMPLIED
HOMETLPHNNMBR CDATA #IMPLIED
HOMETLPHNNMBRCNTRL CDATA #IMPLIED
BSNSTLPHNNMBR CDATA #IMPLIED
BSNSTLPHNNMBRCNTRL CDATA #IMPLIED
OTHRTLPHNNMBR CDATA #IMPLIED
OTHRTLPHNNMBRCNTRL CDATA #IMPLIED
SOCLSCRTYNMBR CDATA #IMPLIED
SOCLSCRTYNMBRCNTRL CDATA #IMPLIED
PIN CDATA #IMPLIED
PINCNTRL CDATA #IMPLIED
VIDERTNGCODE CDATA #IMPLIED
VIDERTNGCODECNTRL CDATA #IMPLIED
CSTMRCMNT CDATA #IMPLIED
CSTMRCMNTCNTRL CDATA #IMPLIED
TAXEXMPTCODE CDATA #IMPLIED
TAXEXMPTCODECNTRL CDATA #IMPLIED
CSTMRTYPECODE CDATA #IMPLIED
CSTMRTYPECODECNTRL CDATA #IMPLIED
LANGCODE CDATA #IMPLIED
LANGCODECNTRL CDATA #IMPLIED
CSTMRCTGRY CDATA #IMPLIED
CSTMRCTGRYCNTRL CDATA #IMPLIED
MERGPRRT CDATA #IMPLIED
MERGPRRTCNTRL CDATA #IMPLIED
LINPID CDATA #IMPLIED
LINPIDCNTRL CDATA #IMPLIED
CNCLPNDNGTRNSFR CDATA #IMPLIED
CNCLPNDNGTRNSFRCNTRL CDATA #IMPLIED
CSTMRNAMEFRMT CDATA #IMPLIED
CSTMRNAMEFRMTCNTRL CDATA #IMPLIED
EMALADRS CDATA #IMPLIED
EMALADRSCNTRL CDATA #IMPLIED
OVRDINSTLOPTN CDATA #IMPLIED
OVRDOCPNTCODEOPTN CDATA #IMPLIED
IGI4188FNCTNOPTN1 CDATA #IMPLIED
IGI4188FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00195 EMPTY>
<!ATTLIST INL00195
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00196 EMPTY>
<!-- No attribute list for INL00196 -->
<!ELEMENT INL00197 EMPTY>
<!ATTLIST INL00197
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00198 EMPTY>
<!-- No attribute list for INL00198 -->
<!ELEMENT INL00199 EMPTY>
<!ATTLIST INL00199
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00200 EMPTY>
<!-- No attribute list for INL00200 -->
<!ELEMENT INL00201 EMPTY>
<!ATTLIST INL00201
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT INL00202 EMPTY>
<!ATTLIST INL00202
TRVRSLEVL CDATA #IMPLIED
YNCODE CDATA #IMPLIED
>
<!ELEMENT INL00203 EMPTY>
<!ATTLIST INL00203
ACNTNMBR CDATA #REQUIRED
HOUSNMBR CDATA #REQUIRED
>
<!ELEMENT INL00204 EMPTY>
<!ATTLIST INL00204
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00205 EMPTY>
<!-- No attribute list for INL00205 -->
<!ELEMENT INL00206 EMPTY>
<!ATTLIST INL00206
SLCTSTMNTCODE CDATA #IMPLIED
SLCTFROMDATE CDATA #IMPLIED
SLCTTODATE CDATA #IMPLIED
SLCTTRNSCTNTYPE CDATA #IMPLIED
SLCTNMBROFTRNS CDATA #IMPLIED
>
<!ELEMENT INL00207 EMPTY>
<!ATTLIST INL00207
AUDTCNTRLDATE CDATA #IMPLIED
AUDTCNTRLNMBR CDATA #IMPLIED
TRNSCTNSQNCNMBR CDATA #IMPLIED
BLNGDATE CDATA #IMPLIED
CMPNYNMBR CDATA #IMPLIED
DVSNNMBR CDATA #IMPLIED
ARTRANDSCRPTNCODE CDATA #IMPLIED
FRNCHSNMBR CDATA #IMPLIED
MAJRACNTNMBR CDATA #IMPLIED
MINRACNTNMBR CDATA #IMPLIED
BLNGFRQNCYCODE CDATA #IMPLIED
ARCODE CDATA #IMPLIED
STMNTPRSNTNCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
INCLDINSHRTFLCOMT CDATA #IMPLIED
ARPSTNGFLAG CDATA #IMPLIED
STMNTSORTSQNC CDATA #IMPLIED
TAXGROPCODE CDATA #IMPLIED
STMNTPRESOCRNCSQNC CDATA #IMPLIED
STMNTPRESOCRNCCTGRY CDATA #IMPLIED
TRNSCTNMSTRTYPE CDATA #IMPLIED
TRNSCTNFROMDATE CDATA #IMPLIED
TRNSCTNTODATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
REVNTYPE CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
NGHTLYPRCSCNTRLNMBR CDATA #IMPLIED
BLNGPRCSCNTRLNMBR CDATA #IMPLIED
MNTHNDPRCSCNTRLNMBR CDATA #IMPLIED
FRNCHSCMPNYNMBR CDATA #IMPLIED
FRNCHSDVSNNMBR CDATA #IMPLIED
FROMACNTACNTNMBR CDATA #IMPLIED
SCTNCODE CDATA #IMPLIED
TRNSFRTAXFLAG CDATA #IMPLIED
CHRGTYPECODE CDATA #IMPLIED
SUBSCTNCODE CDATA #IMPLIED
VOLMDSCNTID CDATA #IMPLIED
INCLDINVOLMDSCNT CDATA #IMPLIED
CNTRCTID CDATA #IMPLIED
USERID CDATA #IMPLIED
TITLCODENEWPPV CDATA #IMPLIED
SHWNGNMBR CDATA #IMPLIED
SPCLUSAGTYPECODE CDATA #IMPLIED
BCKTNMBR CDATA #IMPLIED
ACTVTYDATE CDATA #IMPLIED
ACTVTYTIME CDATA #IMPLIED
PRDCTDSCRPTNCODE CDATA #IMPLIED
CNTNTPRVDRCODE CDATA #IMPLIED
CASHSORCCODE CDATA #IMPLIED
BTCHSORC CDATA #IMPLIED
DPSTCHRGDATE CDATA #IMPLIED
ADJSTMNTCODE CDATA #IMPLIED
SUBACNTID CDATA #IMPLIED
CASHTRNSCTNCODE CDATA #IMPLIED
INTRACTVTYSQNC CDATA #IMPLIED
DPSTSQNCNMBR CDATA #IMPLIED
SRVCTYPE CDATA #IMPLIED
PRMRYORADTNL CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
SRVCCODE CDATA #IMPLIED
CMPGNGROPCODE CDATA #IMPLIED
DPSTTYPECODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
SRVCQNTY CDATA #IMPLIED
SRVCRATE CDATA #IMPLIED
ALACARTRATE CDATA #IMPLIED
ALTRNTOVRDSTMNTPRSNTN CDATA #IMPLIED
PCKGAPLCTN CDATA #IMPLIED
CMPGNCODE CDATA #IMPLIED
PCKGGROPCODE CDATA #IMPLIED
PCKGCODE CDATA #IMPLIED
PCKGPRCNGCTGRY CDATA #IMPLIED
CMPGNPRCNGCTGRY CDATA #IMPLIED
STNDRDRATE CDATA #IMPLIED
SQNCNMBR CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
QNTY CDATA #IMPLIED
ENDDATE CDATA #IMPLIED
STRTDATE CDATA #IMPLIED
PRCNGGROP CDATA #IMPLIED
STRTTIME CDATA #IMPLIED
ENDTIME CDATA #IMPLIED
PPVCMPGNCODE CDATA #IMPLIED
FROMACNTNMBR CDATA #IMPLIED
FROMSRVCCTGRY CDATA #IMPLIED
FROMSRVCOCRNC CDATA #IMPLIED
PRRTMSTRTYPE CDATA #IMPLIED
PRTDALACARTRATE CDATA #IMPLIED
PRTDSTNDRDRATE CDATA #IMPLIED
ACTVTYCODE CDATA #IMPLIED
FULLMNTHCHRG CDATA #IMPLIED
USAGTYPECODE CDATA #IMPLIED
USAGPLANID CDATA #IMPLIED
NMBROFMSGS CDATA #IMPLIED
NMBROFMNTS CDATA #IMPLIED
RETLAMNT CDATA #IMPLIED
DSCNTAMNT CDATA #IMPLIED
USAGCARRID CDATA #IMPLIED
USAGSTMNTRATECODE CDATA #IMPLIED
SRCHRGINDCTR CDATA #IMPLIED
ADTNLMNTS CDATA #IMPLIED
ADTNLMSGS CDATA #IMPLIED
RTNGENGNCODE CDATA #IMPLIED
ADTNLRTNGID CDATA #IMPLIED
ADTNLRTNGIDCLMNNMBR CDATA #IMPLIED
RTNGEVNTTYPE CDATA #IMPLIED
ARCODEDSCRPTN CDATA #IMPLIED
ARTRANRPRTNGDSCRPTN CDATA #IMPLIED
DETLDSCRPTN01 CDATA #IMPLIED
DETLDSCRPTN02 CDATA #IMPLIED
DETLDSCRPTN03 CDATA #IMPLIED
DETLDSCRPTN04 CDATA #IMPLIED
MOPDSCRPTN CDATA #IMPLIED
RPRTNGDSCRPTN CDATA #IMPLIED
CMPGNDSCRPTN CDATA #IMPLIED
PCKGDSCRPTN CDATA #IMPLIED
TITLDSCRPTN CDATA #IMPLIED
PPVCMPGNDSCRPTN CDATA #IMPLIED
USAGTYPERPRTNGDSCRPTN CDATA #IMPLIED
TAXAMNT CDATA #IMPLIED
TOTLTRNSCTNAMNT CDATA #IMPLIED
>
<!ELEMENT INL00208 EMPTY>
<!ATTLIST INL00208
STMNTCD CDATA #REQUIRED
BILLFMTCDE CDATA #IMPLIED
BILLFMTCDECNTRL CDATA #IMPLIED
BILLHDLCDE CDATA #IMPLIED
BILLHDLCDECNTRL CDATA #IMPLIED
SRVCCLAS CDATA #IMPLIED
SRVCCLASCNTRL CDATA #IMPLIED
PRODSTMNT CDATA #IMPLIED
PRODSTMNTCNTRL CDATA #IMPLIED
PRNTVNDRFLAG CDATA #IMPLIED
PRNTVNDRCNTRL CDATA #IMPLIED
STMNTSORTOVRD CDATA #IMPLIED
STMNTSORTCNTRL CDATA #IMPLIED
PRNTITMZDUSAG CDATA #IMPLIED
PRNTITMZDCNTRL CDATA #IMPLIED
LANGCODE CDATA #IMPLIED
LANGCODECNTRL CDATA #IMPLIED
FUNCACT CDATA #IMPLIED
>
<!ELEMENT INL00209 EMPTY>
<!ATTLIST INL00209
SLCTACNTNMBR CDATA #REQUIRED
>
<!ELEMENT INL00210 EMPTY>
<!ATTLIST INL00210
STMNTDUEDATENUM CDATA #IMPLIED
>
<!ELEMENT INL00211 EMPTY>
<!ATTLIST INL00211
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00212 EMPTY>
<!ATTLIST INL00212
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00213 EMPTY>
<!ATTLIST INL00213
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00214 EMPTY>
<!ATTLIST INL00214
MESGTEXTLINE120LC CDATA #IMPLIED
>
<!ELEMENT INL00215 EMPTY>
<!ATTLIST INL00215
CALLCNTRGROPCODE CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
MOPACNTTITL CDATA #IMPLIED
MOPACNTNMBR CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
RTNGCODE CDATA #IMPLIED
BANKDRFTACNTTYPE CDATA #IMPLIED
PIN CDATA #IMPLIED
LASTTRNSCTNCODE CDATA #IMPLIED
LASTTRNSCTNDATE CDATA #IMPLIED
CSTMRMOPSTTS CDATA #IMPLIED
TRNSCTDENDQNTY CDATA #IMPLIED
DAYOFMNTH CDATA #IMPLIED
MOPPRVDRCALCONT CDATA #IMPLIED
VNDRNMBR CDATA #IMPLIED
MOPACNTNMBRVALD CDATA #IMPLIED
CNTRCASHALLW CDATA #IMPLIED
CHCKNUMBRQRD CDATA #IMPLIED
MOPDSCRPTN CDATA #IMPLIED
CRETHSTRY CDATA #IMPLIED
MOPACTNOLGTHMAXM CDATA #IMPLIED
MOPACTNOLGTHMIN CDATA #IMPLIED
MOPACTNLGTHMAXO CDATA #IMPLIED
MOPACTNLGTHMINO CDATA #IMPLIED
MOPGRPNGCODE CDATA #IMPLIED
PRNTRQRD CDATA #IMPLIED
CMPNYNMBR CDATA #IMPLIED
DVSNNMBR CDATA #IMPLIED
MAJRACNTNMBR CDATA #IMPLIED
MINRACNTNMBR CDATA #IMPLIED
ATHRZDFNCTN CDATA #IMPLIED
ATHRZDOPTN CDATA #IMPLIED
MOPTYPECALCONTGROP CDATA #IMPLIED
MTHDOFPYMNTCTGRY CDATA #IMPLIED
PRCSVNDCALLGP CDATA #IMPLIED
PRCSNGVNDRCODE CDATA #IMPLIED
MOPCLASCODE CDATA #IMPLIED
>
<!ELEMENT INL00216 EMPTY>
<!ATTLIST INL00216
SLCTSTMNTCODE CDATA #IMPLIED
SLCTCLCTNCMNTS CDATA #IMPLIED
SLCTCLCTNHSTRY CDATA #IMPLIED
SLCTCLCTNSCHMS CDATA #IMPLIED
SLCTNMBROFTRNS CDATA #IMPLIED
>
<!ELEMENT INL00217 EMPTY>
<!ATTLIST INL00217
DATECRTD CDATA #IMPLIED
CMNTTEXT CDATA #IMPLIED
CLCTNACTVTYCODE CDATA #IMPLIED
PRMSDATE CDATA #IMPLIED
PRMSAMNT CDATA #IMPLIED
>
<!ELEMENT INL00218 EMPTY>
<!ATTLIST INL00218
CLCTSCHMID CDATA #IMPLIED
TEXTLINE9LCAS CDATA #IMPLIED
CLCTACTNDATE CDATA #IMPLIED
CLCTNEVNTID CDATA #IMPLIED
EVNTDSCRPTN CDATA #IMPLIED
CLCTNEVNTCODE CDATA #IMPLIED
SYSTMDFND CDATA #IMPLIED
CLCTNACTVTYCODE CDATA #IMPLIED
TEXTLINE8LCAS CDATA #IMPLIED
>
<!ELEMENT INL00219 EMPTY>
<!ATTLIST INL00219
STMNTCODE CDATA #IMPLIED
WORKSTTNID CDATA #IMPLIED
CASHDRWRBEGNBLNC CDATA #IMPLIED
CNTRCSHWRKSTNID CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
ICB1314FNCTNOPTN2 CDATA #IMPLIED
>
<!ELEMENT INL00220 EMPTY>
<!ATTLIST INL00220
STMNTCODE CDATA #IMPLIED
WORKSTTNID CDATA #IMPLIED
CNTRCSHWRKSTNID CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
AMNTTOAPLY CDATA #IMPLIED
AMNTTNDRD CDATA #IMPLIED
CHCKNMBR CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
CIDVALU CDATA #IMPLIED
SCRNFILD50A CDATA #IMPLIED
PYMNTLINENMBR CDATA #IMPLIED
TRNSCTNRCPTTYPE CDATA #IMPLIED
ATHRZTNRESN CDATA #IMPLIED
ATHRZTNDATE CDATA #IMPLIED
ATHRZTNTIME CDATA #IMPLIED
ATHRZTNCODE CDATA #IMPLIED
ATHRZTNSORCCODE CDATA #IMPLIED
ATHRZTNVLDTNCODE CDATA #IMPLIED
ATHRZTNTRNSID CDATA #IMPLIED
AVSRSPNSCODE CDATA #IMPLIED
ATHRZTNCHARID CDATA #IMPLIED
RQSTDATE CDATA #IMPLIED
RQSTTIME CDATA #IMPLIED
ATHRZTNCIDRSPNS CDATA #IMPLIED
TRNSCTNRFRNC CDATA #IMPLIED
PYMNTOVRDPWRD CDATA #IMPLIED
ICB1314FNCTNOPTN2 CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
ARCODE CDATA #IMPLIED
ADJSTMNTCMNT CDATA #IMPLIED
>
<!ELEMENT INL00221 EMPTY>
<!ATTLIST INL00221
STMNTCODE CDATA #IMPLIED
WORKSTTNID CDATA #IMPLIED
CNTRCSHWRKSTNID CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
AMNTTOAPLY CDATA #IMPLIED
AMNTTNDRD CDATA #IMPLIED
CHCKNMBR CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
CIDVALU CDATA #IMPLIED
SCRNFILD50A CDATA #IMPLIED
PYMNTLINENMBR CDATA #IMPLIED
TRNSCTNRCPTTYPE CDATA #IMPLIED
ATHRZTNRESN CDATA #IMPLIED
ATHRZTNDATE CDATA #IMPLIED
ATHRZTNTIME CDATA #IMPLIED
ATHRZTNCODE CDATA #IMPLIED
ATHRZTNSORCCODE CDATA #IMPLIED
ATHRZTNVLDTNCODE CDATA #IMPLIED
ATHRZTNTRNSID CDATA #IMPLIED
AVSRSPNSCODE CDATA #IMPLIED
ATHRZTNCHARID CDATA #IMPLIED
RQSTDATE CDATA #IMPLIED
RQSTTIME CDATA #IMPLIED
ATHRZTNCIDRSPNS CDATA #IMPLIED
PYMNTOVRDPWRD CDATA #IMPLIED
TRNSCTNRFRNC CDATA #IMPLIED
ICB1314FNCTNOPTN2 CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
ARCODE CDATA #IMPLIED
ADJSTMNTCMNT CDATA #IMPLIED
>
<!ELEMENT INL00222 EMPTY>
<!ATTLIST INL00222
STMNTCODE CDATA #IMPLIED
WORKSTTNID CDATA #IMPLIED
CNTRCSHWRKSTNID CDATA #IMPLIED
>
<!ELEMENT INL00223 EMPTY>
<!ATTLIST INL00223
STMNTCODE CDATA #IMPLIED
WORKSTTNID CDATA #IMPLIED
CNTRCSHWRKSTNID CDATA #IMPLIED
AMNTTOAPLY CDATA #IMPLIED
AMNTTNDRD CDATA #IMPLIED
MTHDOFPAYCODE CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
SCRNFILD50A CDATA #IMPLIED
PYMNTLINENMBR CDATA #IMPLIED
>
<!ELEMENT INL00224 EMPTY>
<!ATTLIST INL00224
SLCTSTMNTCODE CDATA #IMPLIED
SLCTFROMDATE CDATA #IMPLIED
SLCTTODATE CDATA #IMPLIED
SLCTTRNSCTNTYPE CDATA #IMPLIED
SLCTNMBROFTRNS CDATA #IMPLIED
>
<!ELEMENT INL00225 EMPTY>
<!ATTLIST INL00225
AUDTCNTRLDATE CDATA #IMPLIED
AUDTCNTRLNMBR CDATA #IMPLIED
TRNSCTNSQNCNMBR CDATA #IMPLIED
TRNSCTNMSTRTYPE CDATA #IMPLIED
TRNSCTNFROMDATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
FROMACNTACNTNMBR CDATA #IMPLIED
ARTRANRPRTNGDSCRPTN CDATA #IMPLIED
DETLDSCRPTN01 CDATA #IMPLIED
TAXAMNT CDATA #IMPLIED
TOTLTRNSCTNAMNT CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
>
<!ELEMENT INL00226 EMPTY>
<!ATTLIST INL00226
SLCTSTMNTCODE CDATA #IMPLIED
SLCTAUDTCNTRLDATE CDATA #IMPLIED
SLCTAUDTCNTRLNMBR CDATA #IMPLIED
SLCTTRNSCTNSQNCNMBR CDATA #IMPLIED
SLCTTRNSCTNTYPE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
>
<!ELEMENT INL00227 EMPTY>
<!ATTLIST INL00227
AUDTCNTRLDATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
TITLCODENEWPPV CDATA #IMPLIED
SHWNGNMBR CDATA #IMPLIED
ADJSTMNTCODE CDATA #IMPLIED
ADJCODERPRTNGDSCRPTN CDATA #IMPLIED
ARBTCHNMBR CDATA #IMPLIED
>
<!ELEMENT INL00228 EMPTY>
<!ATTLIST INL00228
AUDTCNTRLDATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
RPRTNGDSCRPTN CDATA #IMPLIED
DETLDSCRPTN02 CDATA #IMPLIED
SRVCQNTY CDATA #IMPLIED
CMPGNGROPCODE CDATA #IMPLIED
CMPGNCODE CDATA #IMPLIED
PCKGGROPCODE CDATA #IMPLIED
PCKGCODE CDATA #IMPLIED
>
<!ELEMENT INL00229 EMPTY>
<!ATTLIST INL00229
ARBTCHNMBR CDATA #IMPLIED
ARBTCHDATE CDATA #IMPLIED
BTCHSORCDSCRPTN CDATA #IMPLIED
MOPDSCRPTN CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
CASHSORCDSCRPTN CDATA #IMPLIED
CASHTRNSCTNDSCRPTN CDATA #IMPLIED
>
<!ELEMENT INL00230 EMPTY>
<!ATTLIST INL00230
AUDTCNTRLDATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
TITLCODENEWPPV CDATA #IMPLIED
SHWNGNMBR CDATA #IMPLIED
QNTY CDATA #IMPLIED
PPVCMPGNCODE CDATA #IMPLIED
>
<!ELEMENT INL00231 EMPTY>
<!ATTLIST INL00231
TRNSCTNFROMDATE CDATA #IMPLIED
TRNSCTNTODATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
RPRTNGDSCRPTN CDATA #IMPLIED
DETLDSCRPTN02 CDATA #IMPLIED
SRVCQNTY CDATA #IMPLIED
CMPGNCODE CDATA #IMPLIED
CMPGNGROPCODE CDATA #IMPLIED
WORKORDRNMBR CDATA #IMPLIED
PCKGCODE CDATA #IMPLIED
PCKGGROPCODE CDATA #IMPLIED
>
<!ELEMENT INL00232 EMPTY>
<!ATTLIST INL00232
AUDTCNTRLDATE CDATA #IMPLIED
TRNSCTNMSTRAMNT CDATA #IMPLIED
NMBROFMSGS CDATA #IMPLIED
NMBROFMNTS CDATA #IMPLIED
FROMACNTNMBR CDATA #IMPLIED
FROMSRVCCTGRY CDATA #IMPLIED
FROMSRVCOCRNC CDATA #IMPLIED
USAGTYPECODE CDATA #IMPLIED
USAGPLANID CDATA #IMPLIED
USAGCARRID CDATA #IMPLIED
>
<!ELEMENT INL00233 EMPTY>
<!ATTLIST INL00233
TASKCODE CDATA #IMPLIED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT INL00234 EMPTY>
<!ATTLIST INL00234
TRVRSLEVL CDATA #IMPLIED
>
<!ELEMENT INL00235 EMPTY>
<!-- No attribute list for INL00235 -->
<!ELEMENT INL00236 EMPTY>
<!ATTLIST INL00236
TRVRSLEVL CDATA #IMPLIED
SLCTSTMNTCODE CDATA #IMPLIED
>
<!ELEMENT INL00237 EMPTY>
<!ATTLIST INL00237
STMNTCODE CDATA #IMPLIED
CRNTARBLNC CDATA #IMPLIED
DPSTAMNT CDATA #IMPLIED
WRITOFFAMNT CDATA #IMPLIED
AR1TO30 CDATA #IMPLIED
INTRSTONDPSTSAMNT CDATA #IMPLIED
TOTLUNPLDPYMNT CDATA #IMPLIED
AR31TO60 CDATA #IMPLIED
DPSTDUE CDATA #IMPLIED
TOTLUNPLDADJSTMNT CDATA #IMPLIED
AR61TO90 CDATA #IMPLIED
AR91TO120 CDATA #IMPLIED
PNDNGPYMNT CDATA #IMPLIED
TOTLARBLNC CDATA #IMPLIED
AR121TO150 CDATA #IMPLIED
AROVER150DAYS CDATA #IMPLIED
STMNTDUEDATE CDATA #IMPLIED
CYCL CDATA #IMPLIED
CRDTSCORDSCRPTN CDATA #IMPLIED
CSTMRCTGRYDSCRPTN CDATA #IMPLIED
>
<!ELEMENT INL00238 EMPTY>
<!ATTLIST INL00238
SPCLDATEVALU CDATA #IMPLIED
MACRCALLFROM CDATA #IMPLIED
>
<!ELEMENT INL00239 EMPTY>
<!ATTLIST INL00239
TRVRSLEVL CDATA #IMPLIED
MOPVNDRNMBR CDATA #REQUIRED
>
<!ELEMENT INL00240 EMPTY>
<!ATTLIST INL00240
ACNTNMBR CDATA #REQUIRED
NEWPRVCYCODE CDATA #IMPLIED
EFCTVDATECHNG CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
CNCLFLAG CDATA #IMPLIED
NTFCTNTYPECODE CDATA #IMPLIED
>
<!ELEMENT INL00241 EMPTY>
<!ATTLIST INL00241
ACNTNMBR CDATA #IMPLIED
NEWPRVCYCODE CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
EXPRTNDATECHNG CDATA #IMPLIED
CNCLFLAG CDATA #IMPLIED
>
<!ELEMENT INL00242 EMPTY>
<!ATTLIST INL00242
ACNTNMBR CDATA #IMPLIED
NEWPRVCYCODE CDATA #IMPLIED
EFCTVDATECHNG CDATA #IMPLIED
EXPRTNDATE CDATA #IMPLIED
EXPRTNDATECHNG CDATA #IMPLIED
CNCLFLAG CDATA #IMPLIED
NTFCTNTYPECODE CDATA #IMPLIED
IGI4204FNCTNOPTN1 CDATA #IMPLIED
IGI4204FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT INL00243 EMPTY>
<!ATTLIST INL00243
ORGNTNGAUDTCTLDTE CDATA #IMPLIED
ORGNTNGAUDTCTLNBR CDATA #IMPLIED
ORGNTNGTRNSSEQNBR CDATA #IMPLIED
DSCNTTRNSCTNTYP CDATA #IMPLIED
QLFYNGAMNT CDATA #IMPLIED
>
<!ELEMENT INL00244 EMPTY>
<!ATTLIST INL00244
ASSMNTTYPE CDATA #IMPLIED
CMTMNTAMNT CDATA #IMPLIED
QLFYNGAMNT CDATA #IMPLIED
ASSMNTCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
SRVCCODE CDATA #IMPLIED
ASSMNTCODEDSCRPTN CDATA #IMPLIED
ASSMNTTYPEDSCRPTN CDATA #IMPLIED
>
<!ELEMENT INL00245 EMPTY>
<!ATTLIST INL00245
STRTDATE CDATA #IMPLIED
PRCHSRFRNCID CDATA #IMPLIED
ACTVTYTIME CDATA #IMPLIED
DRTN CDATA #IMPLIED
UNITOFMESR CDATA #IMPLIED
ALACARTRATE CDATA #IMPLIED
CNTNTPRVDRCODE CDATA #IMPLIED
PRDCTDSCRPTNCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
PRMTNLCODE CDATA #IMPLIED
SUBACNTID CDATA #IMPLIED
>
<!ELEMENT INL00246 EMPTY>
<!ATTLIST INL00246
TAXKEY CDATA #IMPLIED
ARCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
TARCODE CDATA #IMPLIED
TAXTYPE CDATA #IMPLIED
TAXSTMNTLINENMBR CDATA #IMPLIED
TAXAMNT CDATA #IMPLIED
MNTHNDPRCSCNTRLNMBR CDATA #IMPLIED
BASEAMNT CDATA #IMPLIED
ORGN CDATA #IMPLIED
TAXFIXDAMNT CDATA #IMPLIED
TAXRATE CDATA #IMPLIED
TAXTYPEDSCRPTN CDATA #IMPLIED
>
<!ELEMENT INL00247 EMPTY>
<!ATTLIST INL00247
ASGNDINSTLR CDATA #IMPLIED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
DATEINSTLD CDATA #IMPLIED
ROOMCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
>
<!ELEMENT INL00248 EMPTY>
<!ATTLIST INL00248
SCHDLDATE CDATA #REQUIRED
ASGNDINSTLR CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
RSCHDLRESNCODE CDATA #REQUIRED
RSCHDLHSTRYCMNTS CDATA #REQUIRED
>
<!ELEMENT INL00249 EMPTY>
<!ATTLIST INL00249
SCHDLDATE CDATA #REQUIRED
ASGNDINSTLR CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
>
<!ELEMENT INL00250 EMPTY>
<!ATTLIST INL00250
SCHDLDATE CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
>
<!ELEMENT INL00251 EMPTY>
<!ATTLIST INL00251
SERLNMBR CDATA #IMPLIED
ACNTNMBR CDATA #IMPLIED
INTRFCCODE CDATA #REQUIRED
TIMEWNDW CDATA #IMPLIED
>
<!ELEMENT INL00252 EMPTY>
<!ATTLIST INL00252
SCHDLDATE CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
TIMESLOT CDATA #REQUIRED
RSCHDLRESNCODE CDATA #REQUIRED
RSCHDLHSTRYCMNTS CDATA #REQUIRED
>
<!ELEMENT INL00253 (INL00254+)>
<!ATTLIST INL00253
POOL CDATA #REQUIRED
>
<!ELEMENT INL00254 (INL00255+)>
<!ATTLIST INL00254
QCODE CDATA #REQUIRED
>
<!ELEMENT INL00255 (INL00256+)>
<!ATTLIST INL00255
SCHDLCODE1 CDATA #REQUIRED
SCHDLCODE2 CDATA #IMPLIED
SCHDLCODE3 CDATA #IMPLIED
>
<!ELEMENT INL00256 (INL00257*,INL00258*)>
<!ATTLIST INL00256
SCHDLDATE CDATA #REQUIRED
>
<!ELEMENT INL00257 EMPTY>
<!ATTLIST INL00257
TIMESLOT CDATA #REQUIRED
>
<!ELEMENT INL00258 EMPTY>
<!ATTLIST INL00258
TIMESLOT CDATA #REQUIRED
PNTS CDATA #IMPLIED
>
<!ELEMENT INL00259 EMPTY>
<!ATTLIST INL00259
CSTMRCMNTLINE CDATA #IMPLIED
CMNTEXPRTNDATE CDATA #IMPLIED
>
<!ELEMENT INL00260 EMPTY>
<!ATTLIST INL00260
ASGNDINSTLR CDATA #REQUIRED
STAGCODE CDATA #REQUIRED
>
<!ELEMENT INL00261 EMPTY>
<!ATTLIST INL00261
SCHDLDATE CDATA #REQUIRED
ASGNDINSTLR CDATA #REQUIRED
CNCLNDRESNCODE CDATA #REQUIRED
DSPTCHCMNT CDATA #IMPLIED
ARVLTIME CDATA #IMPLIED
>
<!ELEMENT INL00262 EMPTY>
<!ATTLIST INL00262
SCHDLDATE CDATA #REQUIRED
ASGNDINSTLR CDATA #REQUIRED
SRVCCTGRYCODE CDATA #IMPLIED
ORDRCMNTLINE1 CDATA #IMPLIED
ORDRCMNTLINE2 CDATA #IMPLIED
ORDRCMNTLINE3 CDATA #IMPLIED
INSTLCMPLTNDATE CDATA #IMPLIED
CMPLTNTIME CDATA #IMPLIED
ARVLTIME CDATA #IMPLIED
CNCLNDRESNCODE CDATA #REQUIRED
>
<!ELEMENT INL00263 EMPTY>
<!ATTLIST INL00263
SCHDLDATE CDATA #REQUIRED
ASGNDINSTLR CDATA #REQUIRED
PRMRYFNDNGCODE CDATA #IMPLIED
ALTRNTFNDNGCODE1 CDATA #IMPLIED
ALTRNTFNDNGCODE2 CDATA #IMPLIED
ALTRNTFNDNGCODE3 CDATA #IMPLIED
PRMRYSLTNCODE CDATA #IMPLIED
ALTRNTSLTNCODE1 CDATA #IMPLIED
ALTRNTSLTNCODE2 CDATA #IMPLIED
ALTRNTSLTNCODE3 CDATA #IMPLIED
ALTRNTSLTNCODE4 CDATA #IMPLIED
ALTRNTSLTNCODE5 CDATA #IMPLIED
ALTRNTSLTNCODE6 CDATA #IMPLIED
ALTRNTSLTNCODE7 CDATA #IMPLIED
FALTCODE CDATA #IMPLIED
DSPTCHCMNT CDATA #IMPLIED
CSTMRNTFD CDATA #IMPLIED
INSTLCMPLTNDATE CDATA #IMPLIED
CMPLTNTIME CDATA #IMPLIED
ARVLDATE CDATA #IMPLIED
ARVLTIME CDATA #IMPLIED
RSTRLDATE CDATA #IMPLIED
RSTRLTIME CDATA #IMPLIED
>
<!ELEMENT INL00264 EMPTY>
<!ATTLIST INL00264
SCHDLDATE CDATA #REQUIRED
ASGNDINSTLR CDATA #REQUIRED
SRVCCTGRYCODE CDATA #IMPLIED
ORDRCMNTLINE1 CDATA #IMPLIED
ORDRCMNTLINE2 CDATA #IMPLIED
ORDRCMNTLINE3 CDATA #IMPLIED
INSTLCMPLTNDATE CDATA #IMPLIED
CMPLTNTIME CDATA #IMPLIED
ARVLTIME CDATA #IMPLIED
PRMRYFNDNGCODE CDATA #IMPLIED
ALTRNTFNDNGCODE1 CDATA #IMPLIED
ALTRNTFNDNGCODE2 CDATA #IMPLIED
ALTRNTFNDNGCODE3 CDATA #IMPLIED
PRMRYSLTNCODE CDATA #IMPLIED
ALTRNTSLTNCODE1 CDATA #IMPLIED
ALTRNTSLTNCODE2 CDATA #IMPLIED
ALTRNTSLTNCODE3 CDATA #IMPLIED
ALTRNTSLTNCODE4 CDATA #IMPLIED
ALTRNTSLTNCODE5 CDATA #IMPLIED
ALTRNTSLTNCODE6 CDATA #IMPLIED
ALTRNTSLTNCODE7 CDATA #IMPLIED
CODDLRS CDATA #IMPLIED
STRTBLNGDATE CDATA #IMPLIED
SLSMNNMBR CDATA #IMPLIED
SALSDATE CDATA #IMPLIED
RESNNMBR CDATA #IMPLIED
>
<!ELEMENT INL00265 EMPTY>
<!ATTLIST INL00265
ASGNDINSTLR CDATA #REQUIRED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
DATE CDATA #IMPLIED
TOITEMNMBR CDATA #IMPLIED
TOSERLNMBR CDATA #REQUIRED
TODATEINSTLD CDATA #IMPLIED
>
<!ELEMENT INL00266 EMPTY>
<!ATTLIST INL00266
ORDRCMNTTEXT CDATA #IMPLIED
>
<!ELEMENT INL00267 EMPTY>
<!ATTLIST INL00267
ASGNDINSTLR CDATA #IMPLIED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
DATEINSTLD CDATA #IMPLIED
ROOMCODE CDATA #IMPLIED
SRVCCTGRYCODE CDATA #IMPLIED
SRVCOCRNC CDATA #IMPLIED
>
<!ELEMENT INL00268 EMPTY>
<!ATTLIST INL00268
ASGNDINSTLR CDATA #REQUIRED
RTRNRESNCODE CDATA #IMPLIED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
DATE CDATA #IMPLIED
>
<!ELEMENT INL00269 EMPTY>
<!ATTLIST INL00269
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
PORTNMBR CDATA #IMPLIED
ADRSBLTRNSCTNTYPE CDATA #REQUIRED
>
<!ELEMENT INL00270 EMPTY>
<!ATTLIST INL00270
TRNSFRRTRNRESN CDATA #IMPLIED
>
<!ELEMENT INL00271 EMPTY>
<!ATTLIST INL00271
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
PORTNMBR CDATA #REQUIRED
EQPMNTADRS CDATA #IMPLIED
>
<!ELEMENT INL00272 EMPTY>
<!ATTLIST INL00272
BLNCNGMODE CDATA #IMPLIED
>
<!ELEMENT INL00273 EMPTY>
<!ATTLIST INL00273
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
PORTNMBR CDATA #REQUIRED
TOITEMNMBR CDATA #IMPLIED
TOSERLNMBR CDATA #REQUIRED
TOPORTNMBR CDATA #REQUIRED
>
<!ELEMENT INL00274 EMPTY>
<!ATTLIST INL00274
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
ITEMNMBR CDATA #IMPLIED
SERLNMBR CDATA #REQUIRED
PORTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00001 EMPTY>
<!ATTLIST MAC00001
TRVRSLEVL CDATA #IMPLIED
SLCTSITEID CDATA #IMPLIED
SLCTHOUSNMBR CDATA #IMPLIED
ZIPORPOST CDATA #IMPLIED
SLCTZIP CDATA #REQUIRED
SLCTSTRT CDATA #REQUIRED
MTCHSTRTEXCTLY CDATA #IMPLIED
SLCTSTRTNMBR CDATA #IMPLIED
SLCTAPRTMNT CDATA #IMPLIED
SLCTBLDNG CDATA #IMPLIED
SLCTFRCTN CDATA #IMPLIED
SLCTPREDRCTNL CDATA #IMPLIED
SLCTPOSTDRCTNL CDATA #IMPLIED
SLCTCITY CDATA #IMPLIED
SLCTSTAT CDATA #IMPLIED
SLCTCMPLX CDATA #IMPLIED
SLCTPRMRYLCTR CDATA #IMPLIED
SLCTTWNSHP CDATA #IMPLIED
SLCTSCTN CDATA #IMPLIED
SLCTZIP4 CDATA #IMPLIED
SLCTZIP2 CDATA #IMPLIED
SLCTCNTYCODE CDATA #IMPLIED
SLCTADTNLLCTN CDATA #IMPLIED
SLCTALTRNTSTAT CDATA #IMPLIED
SLCTMSAGSTRT CDATA #IMPLIED
SLCTMSAGCMNTY CDATA #IMPLIED
FROMRCRD CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDSRQRD CDATA #IMPLIED
TRNSCTNORGN CDATA #IMPLIED
>
<!ELEMENT MAC00002 EMPTY>
<!ATTLIST MAC00002
TRVRSLEVL CDATA #IMPLIED
SLCTSITEID CDATA #REQUIRED
SLCTACNTNMBR CDATA #REQUIRED
SLCTSRVCCTGRY CDATA #IMPLIED
SLCTOTLTNMBR CDATA #IMPLIED
SLCTSRVCOCRNC CDATA #IMPLIED
SLCTSRVCCODE CDATA #IMPLIED
>
<!ELEMENT MAC00003 (VLDSRVSTS*)>
<!ATTLIST MAC00003
SITEID CDATA #REQUIRED
ADDLOCAT CDATA #IMPLIED
LOCATION CDATA #REQUIRED
FRACTION CDATA #IMPLIED
PREDIR CDATA #IMPLIED
STREET CDATA #REQUIRED
POSTDIR CDATA #IMPLIED
COMPLEX CDATA #IMPLIED
BUILDING CDATA #IMPLIED
APARTMNT CDATA #IMPLIED
CITY CDATA #REQUIRED
STATE CDATA #REQUIRED
ZIP CDATA #REQUIRED
ZIP4 CDATA #IMPLIED
ZIP2 CDATA #IMPLIED
CARRIER CDATA #IMPLIED
ALTERNATE CDATA #IMPLIED
NONUSZIP CDATA #IMPLIED
MSAGSTREET CDATA #IMPLIED
MSAGCOMM CDATA #IMPLIED
USPSSUFCD CDATA #IMPLIED
HUBID CDATA #IMPLIED
COMPANY CDATA #REQUIRED
DIVISION CDATA #REQUIRED
FRANCHISE CDATA #REQUIRED
DWELLING CDATA #REQUIRED
UNDLVADDR CDATA #IMPLIED
BILLTYPE CDATA #REQUIRED
INSDWIRE CDATA #IMPLIED
UNSERVADDR CDATA #IMPLIED
TARCODE CDATA #REQUIRED
PRILOCCDE CDATA #IMPLIED
SECLOCCDE CDATA #IMPLIED
SIGACCESS CDATA #REQUIRED
HEADEND CDATA #REQUIRED
NODE CDATA #IMPLIED
HSEPRIOUT CDATA #IMPLIED
HSEADDOUT CDATA #IMPLIED
CABINET CDATA #IMPLIED
INTERACTIVE CDATA #IMPLIED
GRIDID CDATA #IMPLIED
LATITUDE CDATA #IMPLIED
LONGITUDE CDATA #IMPLIED
HSEDEVNUM CDATA #IMPLIED
ELEVATION CDATA #IMPLIED
ASSOCCDE CDATA #IMPLIED
HOUSEAMP CDATA #IMPLIED
TRUNKRTE CDATA #IMPLIED
CASCADE CDATA #IMPLIED
PWRSUPPLY CDATA #IMPLIED
FEEDER CDATA #IMPLIED
LINEEXTN CDATA #IMPLIED
ADDRESSABLE CDATA #REQUIRED
TAGNUMBER CDATA #IMPLIED
SECTAGNUM CDATA #IMPLIED
PREWIRED CDATA #REQUIRED
TURNHOTDT CDATA #IMPLIED
FIRSTDRPDT CDATA #IMPLIED
REPLDRPDT CDATA #IMPLIED
COUNTYCDE CDATA #IMPLIED
REPLOUTDT CDATA #IMPLIED
COORDINRNG CDATA #IMPLIED
COORDINTWM CDATA #IMPLIED
COORDINSEC CDATA #IMPLIED
AUDITCHK CDATA #IMPLIED
CENSUSTRCT CDATA #IMPLIED
PRISMCDE CDATA #IMPLIED
BILLINGUNT CDATA #IMPLIED
PROJECTNUM CDATA #IMPLIED
SICCODE CDATA #IMPLIED
SUBDEFCDE CDATA #IMPLIED
RATECENTER CDATA #IMPLIED
>
<!ELEMENT MAC00004 EMPTY>
<!ATTLIST MAC00004
SITEID CDATA #REQUIRED
HOUSENUM CDATA #REQUIRED
COFACILITY CDATA #REQUIRED
NENAME CDATA #IMPLIED
SWTCHID CDATA #IMPLIED
SWTCHPORT CDATA #IMPLIED
PADID CDATA #IMPLIED
FUNCTACT CDATA #IMPLIED
>
<!ELEMENT MAC00005 EMPTY>
<!ATTLIST MAC00005
SITEID CDATA #REQUIRED
ACCOUNTNUM CDATA #REQUIRED
WRKRDRNMBR CDATA #REQUIRED
SRVCTGRY CDATA #REQUIRED
WRKRDRSTS CDATA #IMPLIED
TECHNUMBER CDATA #IMPLIED
INSTLCMPDT CDATA #IMPLIED
PRMRYFNDNG CDATA #IMPLIED
INSTLCMPTM CDATA #IMPLIED
ARVLTIME CDATA #IMPLIED
PRMSLTN CDATA #IMPLIED
>
<!ELEMENT MAC00006
(INL00011*,INL00013*,INL00014*,INL00016*,INL00017*,INL00018*,INL00020*,
  INL00021*,INL00022*,INL00023*,INL00024*,INL00025*,INL00026*,INL00027*,INL00029*
,INL00030*,INL00032*,INL00033*,INL00034*,INL00035*,INL00039*,INL00040*,
  INL00041*,INL00042*,INL00043*,INL00048*,INL00051*,INL00053*,INL00054*,INL00057*
,INL00058*,INL00059*,INL00060*,INL00061*,INL00062*,INL00066*,INL00069*,
  INL00096*,INL00105?,INL00106*,INL00107*,INL00111*,INL00112*,INL00117?,INL00118*
,INL00119*,INL00120?,INL00122*,INL00123*,INL00134*,INL00135?,INL00170?,
  INL00193?)>
<!ATTLIST MAC00006
TASKCODE CDATA #REQUIRED
EXTRNLRFRNC CDATA #IMPLIED
EXTRNLENVRNMNT CDATA #IMPLIED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
WORKORDRNMBR CDATA #IMPLIED
CALLCODE CDATA #IMPLIED
CALLCODECNTRL CDATA #IMPLIED
SRVCBNDL CDATA #IMPLIED
SRVCBNDLQNTY CDATA #IMPLIED
CMPGNNMBR CDATA #IMPLIED
CMPGNNMBRCNTRL CDATA #IMPLIED
SLSMNNMBR CDATA #IMPLIED
SLSMNNMBRCNTRL CDATA #IMPLIED
EMPLYTYPECODE CDATA #IMPLIED
EMPLYTYPECNTRL CDATA #IMPLIED
RESNNMBR CDATA #IMPLIED
RESNNMBRCNTRL CDATA #IMPLIED
DISCMINRRESN CDATA #IMPLIED
DISCMINRCNTRL CDATA #IMPLIED
MISCSCRNFILD1 CDATA #IMPLIED
MISCSCRNCNTRL CDATA #IMPLIED
RETNWORKORDR CDATA #REQUIRED
CNCLWORKORDR CDATA #IMPLIED
>
<!ELEMENT MAC00007 EMPTY>
<!ATTLIST MAC00007
SITEID CDATA #REQUIRED
PRCSCNTRLHEDR CDATA #IMPLIED
ACNTNMBR CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
AUDTCNTRLDATE8 CDATA #IMPLIED
AUDTCNTRLNMBR CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
TRNSCTNSQNCNMBR CDATA #IMPLIED
TRNSCTNTYPE CDATA #IMPLIED
SRVCCTGRY CDATA #IMPLIED
NMBROFRCRDS CDATA #IMPLIED
FROMRCRDNMBR CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDRQRD CDATA #IMPLIED
>
<!ELEMENT MAC00008 EMPTY>
<!ATTLIST MAC00008
SITEID CDATA #REQUIRED
HOUSENUM CDATA #REQUIRED
BILLTYPE CDATA #REQUIRED
>
<!ELEMENT MAC00009 EMPTY>
<!ATTLIST MAC00009
SITEID CDATA #REQUIRED
PRCSCNTRLHEDR CDATA #IMPLIED
BILLCYCL CDATA #IMPLIED
ACNTNMBR CDATA #REQUIRED
OCRNC CDATA #REQUIRED
BILLTOACNT CDATA #IMPLIED
STMNTCODE CDATA #IMPLIED
TRBRATDCC CDATA #IMPLIED
TRBRATDYY CDATA #IMPLIED
TRBRATDMM CDATA #IMPLIED
TRBRATDDD CDATA #IMPLIED
TRBRATDCT CDATA #IMPLIED
TRBRATDCS CDATA #IMPLIED
TRBRUNDATE8 CDATA #IMPLIED
TRBRUNTIME CDATA #IMPLIED
TRBSQNCNMBR CDATA #IMPLIED
SRVCCTGRY CDATA #IMPLIED
NMBROFRCRDS CDATA #IMPLIED
FROMRCRDNMBR CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDRQRD CDATA #IMPLIED
>
<!ELEMENT MAC00010 EMPTY>
<!ATTLIST MAC00010
SITEID CDATA #REQUIRED
PRCSCNTRLHEDR CDATA #IMPLIED
ACNTNMBR CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
AUDTCNTRLDATE8 CDATA #IMPLIED
AUDTCNTRLNMBR CDATA #IMPLIED
TAXKEY CDATA #IMPLIED
TRNSCTNSQNCNMBR CDATA #IMPLIED
TRNSCTNTYPE CDATA #IMPLIED
SRVCCTGRY CDATA #IMPLIED
NMBROFRCRDS CDATA #IMPLIED
FROMRCRDNMBR CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDRQRD CDATA #IMPLIED
>
<!ELEMENT MAC00011 EMPTY>
<!ATTLIST MAC00011
SITEID CDATA #REQUIRED
HOUSENUM CDATA #REQUIRED
SRVCATG CDATA #REQUIRED
SRVCEABLESTS CDATA #IMPLIED
AUTOASSIGN CDATA #IMPLIED
FUNCTACT CDATA #IMPLIED
>
<!ELEMENT MAC00012 EMPTY>
<!ATTLIST MAC00012
SITEID CDATA #REQUIRED
HSNMBR CDATA #REQUIRED
RTCNTR CDATA #REQUIRED
NPASTD CDATA #REQUIRED
NXXCHNG CDATA #REQUIRED
COFCLTY CDATA #REQUIRED
SWTCHNM CDATA #REQUIRED
BLCKSTRT CDATA #REQUIRED
BLCKEND CDATA #REQUIRED
FUNCTACT CDATA #IMPLIED
>
<!ELEMENT MAC00013 (INL00013+)>
<!ATTLIST MAC00013
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00014 (INL00014*,INL00016*)>
<!ATTLIST MAC00014
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00017 (INL00015+)>
<!ATTLIST MAC00017
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00020 EMPTY>
<!ATTLIST MAC00020
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
BSNSNAME1 CDATA #IMPLIED
BSNSNAME2 CDATA #IMPLIED
TITL CDATA #IMPLIED
FRSTNAME CDATA #IMPLIED
MIDLINTL CDATA #IMPLIED
LASTNAME CDATA #IMPLIED
TITLOFLING CDATA #IMPLIED
HOMETLPHN CDATA #IMPLIED
BSNSTLPHN CDATA #IMPLIED
OTHRTLPHN CDATA #IMPLIED
SOCLSCRTY CDATA #IMPLIED
PINNMBR CDATA #IMPLIED
VIDERTNG CDATA #IMPLIED
CSTMRCMNT CDATA #IMPLIED
PRVCYCODE CDATA #IMPLIED
YEAR CDATA #IMPLIED
TAXEXMPTCODE CDATA #IMPLIED
CSTMRTYPE CDATA #IMPLIED
LANGPRFRNC CDATA #IMPLIED
CSTMRCTGRY CDATA #IMPLIED
MERGPRRT CDATA #IMPLIED
CHNLLINPID CDATA #IMPLIED
OLDTRNSFRACNT CDATA #IMPLIED
CNCLPNDTRNSFR CDATA #IMPLIED
FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT MAC00021 (INL00023+)>
<!ATTLIST MAC00021
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00022 EMPTY>
<!ATTLIST MAC00022
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #IMPLIED
TITLCODE CDATA #IMPLIED
SHWNGNMBR CDATA #IMPLIED
EVNTNMBR CDATA #IMPLIED
DNIS CDATA #IMPLIED
PINNMBR CDATA #IMPLIED
ORDRSORC CDATA #IMPLIED
ACTNTYPE CDATA #IMPLIED
SERLNMBR CDATA #IMPLIED
OVRDCODE CDATA #IMPLIED
CNCLCODE CDATA #IMPLIED
PRCHSRID CDATA #IMPLIED
>
<!ELEMENT MAC00023 EMPTY>
<!ATTLIST MAC00023
SITEID CDATA #REQUIRED
RATECNTRNAME CDATA #REQUIRED
NPASTDNMBR CDATA #REQUIRED
EXCHNGNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00024 EMPTY>
<!ATTLIST MAC00024
SITEID CDATA #REQUIRED
SPCLCRCTID CDATA #REQUIRED
SPCLCRCTDSCRPTN CDATA #IMPLIED
MASKTMPLT CDATA #IMPLIED
CRCTACTN CDATA #IMPLIED
>
<!ELEMENT MAC00025 EMPTY>
<!ATTLIST MAC00025
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00026 EMPTY>
<!ATTLIST MAC00026
SITEID CDATA #REQUIRED
RATECNTRID CDATA #REQUIRED
SWTCHID CDATA #REQUIRED
NPASTDNMBR CDATA #REQUIRED
EXCHNGNMBR CDATA #REQUIRED
BLCKSTRTNMBR CDATA #REQUIRED
BLCKENDNMBR CDATA #REQUIRED
SWTCHTNRANGSEQ CDATA #REQUIRED
SWTCHTNRANGLOWNMBR CDATA #REQUIRED
SWTCHTNRANGHIGHNMBR CDATA #REQUIRED
AVLBLRNGLOWNMBR CDATA #REQUIRED
AVLBLRNGHIGHNMBR CDATA #REQUIRED
HOUSNMBR CDATA #REQUIRED
SLCTNTYPER CDATA #REQUIRED
RSRVTNQNTY CDATA #REQUIRED
RSRVTNDRTN CDATA #REQUIRED
HOLDDAYS CDATA #IMPLIED
RSRVTNLOWNMBR CDATA #IMPLIED
>
<!ELEMENT MAC00027
(INL00047*,INL00072*,INL00073*,INL00074*,INL00075*,INL00076*)>
<!ATTLIST MAC00027
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00028 EMPTY>
<!ATTLIST MAC00028
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
SRVCCTGRYCODE CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
SPCLCRCTID CDATA #IMPLIED
FNCTNACTN CDATA #IMPLIED
>
<!ELEMENT MAC00029
(INL00055?,INL00056?,INL00077?,INL00136*,INL00138*,INL00140*,INL00141*,
  INL00143*,INL00145*,INL00146*,INL00156*,INL00157*,INL00160*,INL00165*,INL00188?
,INL00190?,INL00202?,INL00211*,INL00212*,INL00216*,INL00224*,INL00236*)>
<!ATTLIST MAC00029
SLCTSITEID CDATA #REQUIRED
SLCTACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00030 (INL00066+)>
<!ATTLIST MAC00030
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00032 EMPTY>
<!ATTLIST MAC00032
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
TLPHNNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00033 EMPTY>
<!ATTLIST MAC00033
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
TLPHNNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00035 EMPTY>
<!ATTLIST MAC00035
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
SRVCCTGRY CDATA #REQUIRED
SRVCOCRNC CDATA #REQUIRED
>
<!ELEMENT MAC00045 (INL00087*,INL00088*,INL00089*,INL00090*)>
<!ATTLIST MAC00045
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00046 (INL00113?,INL00114?,INL00115?,INL00116?)>
<!ATTLIST MAC00046
TRVRSLEVL CDATA #IMPLIED
FROMRCRD CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDSRQRD CDATA #IMPLIED
>
<!ELEMENT MAC00047 (INL00097?,INL00098?)>
<!ATTLIST MAC00047
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
PRCSCNTRLNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00048 (INL00101+)>
<!ATTLIST MAC00048
SITEID CDATA #REQUIRED
PRCSCNTRLNMBR CDATA #REQUIRED
AFTRCODE CDATA #IMPLIED
AFTRLINENMBR CDATA #IMPLIED
FROMRCRD CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDSRQRD CDATA #IMPLIED
>
<!ELEMENT MAC00049 EMPTY>
<!ATTLIST MAC00049
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
STMNTCODE CDATA #REQUIRED
PRCSCNTRLNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00050 EMPTY>
<!ATTLIST MAC00050
TRVRSLEVL CDATA #IMPLIED
SLCTSITEID CDATA #REQUIRED
SLCTACNTNMBR CDATA #IMPLIED
SLCTWORKORDRNMBR CDATA #IMPLIED
SLCTCHCKINSTTS CDATA #IMPLIED
>
<!ELEMENT MAC00051 (INL00124*,INL00125*,INL00128*,INL00130*)>
<!ATTLIST MAC00051
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00052 EMPTY>
<!ATTLIST MAC00052
SLCTZIPPSTLCODE CDATA #REQUIRED
SLCTCITY CDATA #IMPLIED
SLCTSTAT CDATA #IMPLIED
SLCTALTRNTSTAT CDATA #IMPLIED
SLCTZIPPSTLCODESTTS CDATA #IMPLIED
TRVRSLEVL CDATA #IMPLIED
FROMRCRD CDATA #IMPLIED
PAGESIZE CDATA #IMPLIED
TOTLRCRDSRQRD CDATA #IMPLIED
>
<!ELEMENT MAC00053 (INL00132*)>
<!ATTLIST MAC00053
TASKCODE CDATA #IMPLIED
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00054 (INL00170*,INL00192*,INL00193*,INL00240*,INL00241*)>
<!ATTLIST MAC00054
TASKCODE CDATA #IMPLIED
SITEID CDATA #REQUIRED
TRNSCTNORGN CDATA #IMPLIED
>
<!ELEMENT MAC00056 (INL00209*)>
<!ATTLIST MAC00056
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00057 (INL00201?,INL00203?,INL00233?)>
<!ATTLIST MAC00057
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00059
(INL00195?,INL00197?,INL00199?,INL00204?,INL00234?,INL00239?)>
<!ATTLIST MAC00059
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00060 (INL00206*)>
<!ATTLIST MAC00060
SLCTSITEID CDATA #REQUIRED
SLCTACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00061 (INL00073*,INL00074*,INL00087*,INL00088*,INL00208*)>
<!ATTLIST MAC00061
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00062 (INL00219?,INL00220?,INL00221?,INL00222?,INL00223?)>
<!ATTLIST MAC00062
SLCTSITEID CDATA #REQUIRED
SLCTACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00063 (INL00226*)>
<!ATTLIST MAC00063
SLCTSITEID CDATA #REQUIRED
SLCTACNTNMBR CDATA #REQUIRED
>
<!ELEMENT MAC00064 EMPTY>
<!ATTLIST MAC00064
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00065
(INL00247*,INL00265*,INL00267*,INL00268*,INL00269*,INL00270*,INL00271*,
  INL00272?,INL00273*,INL00274*)>
<!ATTLIST MAC00065
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
WORKORDRNMBR CDATA #IMPLIED
>
<!ELEMENT MAC00066 (INL00248*,INL00249*,INL00250*,INL00252*)>
<!ATTLIST MAC00066
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00067 (INL00251*)>
<!ATTLIST MAC00067
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00068 (INL00253*)>
<!ATTLIST MAC00068
SITEID CDATA #REQUIRED
>
<!ELEMENT MAC00069
(INL00259*,INL00260?,INL00261?,INL00262?,INL00263?,INL00264?,INL00266*)>
<!ATTLIST MAC00069
SITEID CDATA #REQUIRED
ACNTNMBR CDATA #REQUIRED
WORKORDRNMBR CDATA #REQUIRED
>
<!ELEMENT MDRET EMPTY>
<!-- No attribute list for MDRET -->
<!ELEMENT MSRET EMPTY>
<!-- No attribute list for MSRET -->
<!ELEMENT NONPROVISIONWO EMPTY>
<!ATTLIST NONPROVISIONWO
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
WONUM CDATA #REQUIRED
FUNCACT CDATA #REQUIRED
STATUS CDATA #IMPLIED
>
<!ELEMENT ORDERDETAIL EMPTY>
<!-- No attribute list for ORDERDETAIL -->
<!ELEMENT OUTLET EMPTY>
<!-- No attribute list for OUTLET -->
<!ELEMENT PAYADJUST EMPTY>
<!-- No attribute list for PAYADJUST -->
<!ELEMENT PAYMENT EMPTY>
<!-- No attribute list for PAYMENT -->
<!ELEMENT PROVISIONWO EMPTY>
<!ATTLIST PROVISIONWO
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
WONUM CDATA #REQUIRED
FUNCACT CDATA #REQUIRED
STATUS CDATA #IMPLIED
TELPROVISION CDATA #IMPLIED
HSDPROVISION CDATA #IMPLIED
>
<!ELEMENT PRVBILL EMPTY>
<!ATTLIST PRVBILL
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
STMNTCD CDATA #REQUIRED
PRCSSCNTRLHDR CDATA #IMPLIED
>
<!ELEMENT QENVSTATUS EMPTY>
<!-- No attribute list for QENVSTATUS -->
<!ELEMENT RECURCHARGE EMPTY>
<!-- No attribute list for RECURCHARGE -->
<!ELEMENT REGIST EMPTY>
<!ATTLIST REGIST
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT RET EMPTY>
<!-- No attribute list for RET -->
<!ELEMENT SERVICES EMPTY>
<!-- No attribute list for SERVICES -->
<!ELEMENT SPB EMPTY>
<!ATTLIST SPB
STMNTCD CDATA #REQUIRED
BILLFMTCDE CDATA #IMPLIED
BILLFMTCDECNTRL CDATA #IMPLIED
BILLHDLCDE CDATA #IMPLIED
BILLHDLCDECNTRL CDATA #IMPLIED
SRVCCLAS CDATA #IMPLIED
SRVCCLASCNTRL CDATA #IMPLIED
PRODSTMNT CDATA #IMPLIED
PRODSTMNTCNTRL CDATA #IMPLIED
PRNTVNDRFLAG CDATA #IMPLIED
PRNTVNDRCNTRL CDATA #IMPLIED
STMNTSORTOVRD CDATA #IMPLIED
STMNTSORTCNTRL CDATA #IMPLIED
PRNTITMZDUSAG CDATA #IMPLIED
PRNTITMZDCNTRL CDATA #IMPLIED
LANGCODE CDATA #IMPLIED
LANGCODECNTRL CDATA #IMPLIED
FUNCACT CDATA #IMPLIED
>
<!ELEMENT SQLINIT EMPTY>
<!-- No attribute list for SQLINIT -->
<!ELEMENT SQLINITU EMPTY>
<!-- No attribute list for SQLINITU -->
<!ELEMENT SQLSRVCTGY EMPTY>
<!-- No attribute list for SQLSRVCTGY -->
<!ELEMENT SQLSTMNT EMPTY>
<!ATTLIST SQLSTMNT
STMNTCD CDATA #IMPLIED
STMNTNME CDATA #IMPLIED
BILLFMTCDE CDATA #IMPLIED
BILLHDLCDE CDATA #IMPLIED
SRVCCLAS CDATA #IMPLIED
PRODSTMNT CDATA #IMPLIED
PRNTVNDRFLAG CDATA #IMPLIED
STMNTSORTOVRD CDATA #IMPLIED
PRNTITMZDUSAG CDATA #IMPLIED
LANGCODE CDATA #IMPLIED
>
<!ELEMENT SQLSTMNTBAS EMPTY>
<!ATTLIST SQLSTMNTBAS
STMNTLSTDTE CDATA #IMPLIED
AMNT CDATA #IMPLIED
MOPCD CDATA #IMPLIED
PRCSSCNTRL CDATA #IMPLIED
MOPACNTSQNC CDATA #IMPLIED
BLNGDAY CDATA #IMPLIED
BLNCLASTSTMNT CDATA #IMPLIED
PYMNTS CDATA #IMPLIED
CRDTADJSTMNTS CDATA #IMPLIED
>
<!ELEMENT SQLTERM EMPTY>
<!-- No attribute list for SQLTERM -->
<!ELEMENT SRVAPMNT EMPTY>
<!ATTLIST SRVAPMNT
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT SSV EMPTY>
<!ATTLIST SSV
OUTLETNO CDATA #REQUIRED
SERVCD CDATA #REQUIRED
FUNCACT CDATA #REQUIRED
>
<!ELEMENT STOPPB (SPB+)>
<!ATTLIST STOPPB
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
>
<!ELEMENT SVCOUT (SERVICES*)>
<!ATTLIST SVCOUT
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
SERVCATGYCD CDATA #REQUIRED
OUTLETNO CDATA #REQUIRED
>
<!ELEMENT SVCUPGD (SSV*)>
<!ATTLIST SVCUPGD
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
CMPGNNO CDATA #IMPLIED
>
<!ELEMENT TELEPHONYCSV EMPTY>
<!-- No attribute list for TELEPHONYCSV -->
<!ELEMENT TELEPHONYCURSVC EMPTY>
<!-- No attribute list for TELEPHONYCURSVC -->
<!ELEMENT TELEPHONYCURTELSVC EMPTY>
<!-- No attribute list for TELEPHONYCURTELSVC -->
<!ELEMENT TERM EMPTY>
<!-- No attribute list for TERM -->
<!ELEMENT TOTLMNTHLY EMPTY>
<!ATTLIST TOTLMNTHLY
QTYFREE CDATA #IMPLIED
DSCNTRTE CDATA #IMPLIED
SERVRATE CDATA #IMPLIED
>
<!ELEMENT VLDSRVSTS EMPTY>
<!ATTLIST VLDSRVSTS
SRVCATG CDATA #REQUIRED
SRVCEABLESTS CDATA #REQUIRED
AUTOASSIGN CDATA #REQUIRED
>
<!ELEMENT WOSTAT EMPTY>
<!ATTLIST WOSTAT
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
WONUM CDATA #IMPLIED
>
<!ELEMENT WRKWTHAP (WWA+)>
<!ATTLIST WRKWTHAP
TASKCODE CDATA #REQUIRED
SITEID CDATA #REQUIRED
ACCNTNO CDATA #REQUIRED
WONO CDATA #REQUIRED
MISCSCRNFILD1 CDATA #IMPLIED
MISCSCRNCNTRL CDATA #IMPLIED
PRBLMCODE01 CDATA #IMPLIED
PRBLMCODE01CNTRL CDATA #IMPLIED
PRBLMCODE02 CDATA #IMPLIED
PRBLMCODE02CNTRL CDATA #IMPLIED
PRBLMCODE03 CDATA #IMPLIED
PRBLMCODE03CNTRL CDATA #IMPLIED
PRBLMCODE04 CDATA #IMPLIED
PRBLMCODE04CNTRL CDATA #IMPLIED
PRBLMCODE05 CDATA #IMPLIED
PRBLMCODE05CNTRL CDATA #IMPLIED
WOCMNTLINE01 CDATA #IMPLIED
WOCMNTLINE01CNTRL CDATA #IMPLIED
WOCMNTLINE02 CDATA #IMPLIED
WOCMNTLINE02CNTRL CDATA #IMPLIED
WOCMNTLINE03 CDATA #IMPLIED
WOCMNTLINE03CNTRL CDATA #IMPLIED
STAGCODE CDATA #IMPLIED
STAGCODECNTRL CDATA #IMPLIED
SORCCODE CDATA #IMPLIED
SORCCODECNTRL CDATA #IMPLIED
RSCHDLRESN CDATA #IMPLIED
RSCHDLRESNCNTRL CDATA #IMPLIED
RSCHDLRESNCMNT CDATA #IMPLIED
RSCHDLRESNCMNTCNTRL CDATA #IMPLIED
CUSTPRSNCRQRD CDATA #IMPLIED
CUSTPRSNCRQRDCNTRL CDATA #IMPLIED
>
<!ELEMENT WWA EMPTY>
<!ATTLIST WWA
SCHEDDATE CDATA #REQUIRED
TIMESLOT CDATA #REQUIRED
AVAILABLE CDATA #IMPLIED
>